[2018-01-22 10:35] tridcatij commented on #321
Totally agree with you. UI was one of the reasons for me to fork this nice project.
I've chosen Buefy (Bulma + Vue) for the frontend, and layout is looking like this (for now menu is more complex  with some nested categories) and top navbar contains some more items as well.
![screenshot from 2018-01-22 12-22-19](https://user-images.githubusercontent.com/4353590/35216312-ec3c6398-ff6f-11e7-80c7-b86

[2018-01-22 13:32] smrdoshi commented on #321
nice UI.

Wait for Version 4.0, it will have left menus and important menus on the
top with notifications. :)

Best Regards
--
Samir Doshi
*iNextrix Technologie**s Pvt. Ltd*.
http://www.inextrix.com

*Disclaimer:*
The information contained in this communication is confidential and may be
legally privileged. It is intended solely for the use of the individual or
entity to whom it is addressed and o

[2018-01-22 22:01] slango-im commented on #321
Fantastic news! I'm eagerly awaiting version 4.0 :)

[2018-01-23 17:59] eduardofoliveira commented on #270
@slango-im
For outgoing calls ringing as soon as you select the gateway it is possible to make the following configuration:

In the Gateway DialPlan Variable:

bypass_media=false,instant_ringback=true,ringback=${us-ring}

[2018-01-24 05:22] slango-im opened #322 "Setup Signaling Details so customer can choose different Rate Group?"
I have a use case that I can't figure out it ASTPP.

I have 2 Rate Groups, and I would like our customer to choose which Rate Group he wants to dial into based on a prefix or IP or something. For example:

We have Rate Group X and Rate Group Y.

Is there a way we can setup different signaling details so one customer account can choose between rate groups?

[2018-01-24 12:43] eduardofoliveira commented on #322
You can create different prefixes within the same rate group.

For example:

55113588 ... - without a prefix
4654 55113588 ... - with prefix

where the origination rate 5511 ... matches only the termination rate of Trunk A
Where 4654 ... matches only the termination rate of Trunk B

And in the Rate Group you should add Trunks A and B

This way 5511 ... will have a price and 4654 ... will have anot

[2018-01-24 23:34] slango-im commented on #322
Thank you, @eduardofoliveira.

Can you please clarify though. I though the prefix on our Trunks were the prefixes required by our termination partners?

Can you please point out where the prefix should be added?

[2018-01-25 00:11] eduardofoliveira commented on #322
In the Edit Termination Rate you can remove the prefix used for internal control and add the prefix of your termination.

In this example the prefix 10 that is before 55 ... is used when my client sends the call to my gateway. To remove it, simply fill in the "Strip" field with the value of the prefix.

This prefix is removed and if I need to add another one to send to my termination in the "Prepe

[2018-01-25 08:08] smrdoshi commented on #218
Hi Guys,

We just add Portuguese Brazilian language support in Version 3.5.
You can get the latest source and start using it.

Special thanks to Mr. Roberto Xavier @rxsantos for contribution.

[2018-01-25 08:09] smrdoshi commented on #317
Its in version 3.5 now :)

[2018-01-25 08:09] #317 closed

[2018-01-25 08:10] #316 closed

[2018-01-25 08:10] #309 closed

[2018-01-26 17:15] adrianodvieira commented on #218
Hi!
I updated the version to 3.5, appears no bottom corner of the screen the flag of Brazil, however, I click on the flag and do not translate Astpp into Portuguese.
Tks

[2018-01-29 07:44] smrdoshi commented on #218
Follow below steps to do that :

sudo locale-gen es_ES
sudo locale-gen es_ES.UTF-8
sudo locale-gen fr_FR
sudo locale-gen fr_FR.UTF-8
sudo locale-gen pt_BR
sudo locale-gen pt_BR.UTF-8
sudo update-locale

restart nginx and then try. It should work.

Please provide feedback.

‌
<https://mailtrack.io/> Sent with Mailtrack
<https://chrome.google.com/webstore/detail/mailtrack-for-gmail-inbox/ndnaehgpjln

[2018-01-29 11:04] adrianodvieira commented on #218
Hi!

Done in the procedure, but did not succeed, system does not apply the Portuguese language.

@rxsantos only succeeded by reinstalling the system.

Tks

[2018-01-29 11:15] smrdoshi commented on #218
Can we get access of your system?

If possible then send me your server access information on
samir.doshi@inextrix.com.

<https://mailtrack.io/> Sent with Mailtrack
<https://chrome.google.com/webstore/detail/mailtrack-for-gmail-inbox/ndnaehgpjlnokgebbaldlmgkapkpjkkb?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality>

Best Regards
--
Samir Doshi
*iNextrix Technologie**s Pvt. Ltd*

[2018-01-29 11:25] adrianodvieira commented on #218
Hi!
I send access to e-mail!
tks

[2018-01-29 13:13] adrianodvieira commented on #218
It Worked!
tks @smrdoshi

[2018-01-30 07:27] slango-im opened #324 "OPUS codec supported?"
We are trying to send calls to ASTPP with the opus codec but it's telling us that the calls are rejected.

Does ASTPP support opus?

You can write

We are getting Reason: Q.850; cause=88; text= "INCOMPATIBLE_DESTINATION" Error

[2018-01-31 14:57] ketan-kothari commented on #324
@slango-im
Yes ASTPP support opus codec.

You need to configure opus codec in sip-profile as well as load that module in freeswitch.

[2018-02-02 06:20] smrdoshi commented on #319
Hi Andrew,

Nope, it will export original origination rates only. It will not include
markups.

You will need to customize export feature in order to add markup.

‌
<https://mailtrack.io/> Sent with Mailtrack
<https://chrome.google.com/webstore/detail/mailtrack-for-gmail-inbox/ndnaehgpjlnokgebbaldlmgkapkpjkkb?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality>

Best Regards
--
Sa

[2018-02-02 06:25] #307 closed

[2018-02-02 06:29] smrdoshi commented on #306
Hi @countrdd

Can you please explain bit more about this report?
What is the use of it?

[2018-02-09 16:57] basitengr opened #326 "opensips config is outdated"
Hi team,
I am trying to setup **opensips v2.3** along with **ASTPP 3.5** by following
http://astpp.readthedocs.io/en/v3.5/Integrations/opensips.html

The **opensips v1.7** default configuration is currently present on git.
Has someone done this before for some newer version of opensips like 2.1 or 2.2?
If this integration is currently not active then why its available there?

[2018-02-10 08:31] sessionhub opened #328 "Erroneous Change of All Rates on Overlapping Rate Import"
Hi
There is a huge error when an OVERLAPPING rate import is made. It causes all other rates of different rate group to change.

[2018-02-11 22:08] velislaviliev opened #329 "when try to export big rate list I receive 504 Gateway Time-out"
Hello, I have astppbilling v.3.5 and when I try to export big rate list I receive "504 Gateway Time-out" error.
If I do more specific serach and result is few lines, export is OK.

[2018-02-13 20:50] tcreek opened #330 "Quick Install script is full of bugs, and does not install"
I have tried the script on both CentOS 7, and Debian 8 on minimal installs. On both it failures miserable.  There are no guidelines on what the starting system should have on it.  Was any testing done with that script?

This is what I am seeing on Debian 8

cp: cannot stat ‘/usr/src/latest/misc/odbc/deb_odbc.ini’: No such file or directory
cp: cannot stat ‘/usr/src/latest/misc/odbc/deb_odbcinst.in

[2018-02-13 22:24] tcreek commented on #330
Addendum:

For the CentOS attempt, the script just keeps restarting over, and over.

Was this even tested?

[2018-02-14 09:52] devangn commented on #329
Upload_max_filesize
Max_input_time
Memory_limit
Max_execution_time
Post_max_size

These params of php.ini affects upload/download file size. Set them accordingly.

[2018-02-14 09:54] devangn commented on #328
'OVERLAPPING rate import' how exactly are you importing rates?

[2018-02-14 17:17] smrdoshi commented on #330
Aww Problem!! Doesn't looks like well.

If you can fix and contribute to project then that will be great.
Will appreciate that.

[2018-02-14 17:17] #324 closed

[2018-02-14 17:18] #322 closed

[2018-02-14 17:18] #312 closed

[2018-02-14 17:18] #306 closed

[2018-02-14 17:18] #303 closed

[2018-02-14 17:19] smrdoshi commented on #291
Is it sorted out?

[2018-02-14 17:21] #259 closed

[2018-02-14 17:22] #270 closed

[2018-02-15 12:14] countrdd commented on #306
To see how many active channles an acount has at a give time.
Would be very handy for upselling channels to customers.

[2018-02-19 14:07] #291 closed

[2018-02-21 00:53] tcreek commented on #330
I am sorry, but I am already too busy to mess with this.

I guess I have to move on to another billing system to evaluate

[2018-02-24 09:33] devangn commented on #306
@countrdd You can control CC per customer but not have GUI feature to see exact CC at any moment.
However you can use live call report.

[2018-02-25 09:34] ChaudharyG opened #331 "Package not working with INBOUND calls"
Team,

We would like to implement combined package for Inbound and Outbound  but PACKAGE option is working only in Outbound calls and we have already enabled package for both IN/OUT
1. Inbound secs not deducting from Package.
2. Inbound account goes to (-)ve and calls are still connecting.
3. Can we implement the concept of Expiry date of package ?

[2018-02-26 02:20] slango-im opened #332 "Termination Rates Showing $0.00"
It seems there is a major issue.

After importing in bulk new termination rates (several times), the rate still shows up as 0.00.

Please see below:
![image](https://user-images.githubusercontent.com/25807874/36650461-b5dde32a-1ab4-11e8-9b04-9cd817c347f5.png)

[2018-02-28 01:17] liveincan commented on #262
Have you considered Open Exchange Rates? The Forever Free Plan comes with, Hourly rate updates, Daily historical data and 1,000 API requests per month. The free plan link is a bit obscure so here it is:
https://openexchangerates.org/signup/free

[2018-02-28 03:43] liveincan opened #336 "Custom website Header and Footer not appearing on customer login"
Performed two clean installs of quick installation script on Debian 8 with the same result. Both Website Header and Website Footer are not appearing on customer website. Website Domain in Company Personalization is the same as baseurl in /var/lib/astpp/astpp-config.conf. This issue seems to have appeared recently after a update. Thanks.

[2018-02-28 03:51] liveincan commented on #330
I have some suggestions:
- Use Debian 8 Standard. (not minimum)
- apt-get update && apt-get upgrade
- apt-get install systemd
- apt-get install systemd-sysv
- reboot & try script
Hope this helps.

[2018-02-28 12:34] smrdoshi commented on #336
I just tested feature and it seems to be working fine.
Sharing the configuration which I did.

![admin_company_profile](https://user-images.githubusercontent.com/958577/36787870-b7df31d4-1cb1-11e8-9b8d-4d1bb8ecb94e.png)
![admin_login_page](https://user-images.githubusercontent.com/958577/36787873-bba397a6-1cb1-11e8-9c6a-187ab0a8298e.png)

Hope this will sort out the issue.
​

[2018-02-28 15:31] liveincan commented on #336
I have done exactly as suggested on the forum. Tried using domain both with
and without port number (:8089) but no success. Here is my configuration:

[image: Inline image 3]

[image: Inline image 2]

[image: Inline image 1]
[image: Inline image 4]

On Wed, Feb 28, 2018 at 7:34 AM, Samir Doshi <notifications@github.com>
wrote:

[2018-03-01 12:52] smrdoshi commented on #336
Not images are attached. Please send it.

[2018-03-01 15:27] liveincan commented on #336
![image](https://user-images.githubusercontent.com/12475692/36852882-efe2e718-1d3a-11e8-9c93-3b052d80e935.png)
![image](https://user-images.githubusercontent.com/12475692/36852906-030bc7ba-1d3b-11e8-9c27-2b770d270cc6.png)
![image](https://user-images.githubusercontent.com/12475692/36852922-0c2cc9f2-1d3b-11e8-84d8-70a9b4dfb31e.png)
![image](https://user-images.githubusercontent.com/12475692/3685296

[2018-03-02 12:13] eightsixeight commented on #54
i have same issue as fuzzy, i need to know my COST from provider on the DID...

right now inbound call never show any cost in /reports/customerReport/

[2018-03-02 23:59] eightsixeight commented on #282
actually yes but no, i still don't have a COST in any detail reports,

i uploaded SAME list for termination rates and origination rates leaving the rate group markup to do it's job but nothing in costs..

[2018-03-05 14:36] smrdoshi commented on #54
We do not have DID buy rate option at the moment. Becuase of that you will not be able to get any value in COST field in DID calls.

If you want to know the cost for the provider then you can create origination rate with DID prefix and define the amount in that. Then assign that rate group to provider. So whenever, we will get call from that provider, system will check origination rates and then r

[2018-03-06 07:56] plettonline opened #338 "DID monthly charge going off as 0.00"
Steps to re-create.

1. Setup Reseller account
2. Log in to Reseller account
3. Purchase DID and then assign monthly cost to DID
4. As the reseller, setup a customer as prepaid with billing date on 1st of the month
5. Assign a monthly cost to DID
6. At the beginning of the month, the monthly cost for the DID will be processed but as 0.00
7. The invoice for the client is also generated with a 0.00

[2018-03-06 14:29] eightsixeight opened #339 "Inbound to header"
When inbound call comes in , we get
<action application="bridge" data="[leg_timeout=0]user/<SIPGWNUMBER>@${domain_name}"/>

and no to-header, therefore we can't filter on DID on the other side i get a to of
<SIPGWNUMBER>@${domain_name}"/>

is there a place i can pad effective_destination_number to a to-header or request-line ?

[2018-03-06 15:20] eightsixeight commented on #339
meaning i need to use LOCALY reg'ed user but send the did

user/crappyname/did

[2018-03-06 17:30] tcreek commented on #330
Thank you for that advice. After installing a regular Debian install, I tried what you suggested. The items you wanted me to install were already installed.

This time there was no errors however, according to netstat, there is nothing listening on port 8089. Which means the script is still bugged.

[2018-03-11 13:27] eightsixeight commented on #54
i did that put the full DID in the originator rate, i get this as cdr

http://prntscr.com/ipo08k

and astpp logs

action application="set" data="fax_enable_t38_request=true"/>
<action application="set" data="origination_rates_did=ID:5|CODE:^.1418xxxxxx.*|DESTINATION:1418xxxxxx|CONNECTIONCOST:0.00000|INCLUDEDSECONDS:0|COST:0.01875|INC:0|INITIALBLOCK:0|RATEGROUP:0|MARKUP:150|ACCID:5"/>
<action appli

[2018-03-12 13:36] smrdoshi commented on #54
Again, for DID calls, you will never get cost field. Cost field will have
value when call will be routed via any trunk / carrier. For inbound calls,
we are not routing call via trunk / carrier, so that field will never get
populated.

<https://mailtrack.io/> Sent with Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality&>

Best Regards
--
Samir Doshi

[2018-03-12 13:37] smrdoshi commented on #336
Can you put http://?

<https://mailtrack.io/> Sent with Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality&>

Best Regards
--
Samir Doshi
*iNextrix Technologie**s Pvt. Ltd*.
http://www.inextrix.com

*Disclaimer:*
The information contained in this communication is confidential and may be
legally privileged. It is intended solely for the use of the i

[2018-03-12 18:35] liveincan commented on #336
Website Domain: http://astpp.soft-sol.net:8089
Not Working

[2018-03-14 17:52] smrdoshi commented on #336
Just tried same thing. In Website Domain configured admin.astppbilling.com:8081 and its working fine. Send me your server information off the list on samir.doshi@inextrix.com.

[2018-03-16 15:58] slango-im opened #345 "Ringback Not Supported in Passthrough (g.729)"
Hello,

We are using g.279 and we have the instant ringback enabled. But it does't go through.

How can we have instant ringback with g.729?

Please see below:

2018-03-16 16:34:58.537197 [WARNING] switch_ivr_originate.c:1252 sofia/default/ - Ringback not supported in passthrough codec mode

[2018-03-18 20:40] legionnet commented on #254
In Russia MNP database is used, too.
Can you change "Code" in rates to support macros not only digits?

[2018-03-19 05:13] legionnet commented on #254
For example, I will plan to use the following identifiers:
 -  DEF - all Russia mobile phones
 -  MTS - operator MTS
 - MEGAFON - operator MEGAFON
 and etc.
We can use astpp.custom.lua for external verification IDs

[2018-03-20 06:46] legionnet opened #346 "How to change ip of already installed ASTPP"
How to change ip of already installed ASTPP?
I try to change but web server redirect me to old ip

[2018-03-20 07:01] legionnet opened #347 "IP MAP with sip_profile binding"
You can binding sip_profile to IP MAP

update DB:
`ALTER TABLE `ip_map` ADD `sip_profile_id` INT(4) NOT NULL DEFAULT '0' AFTER `id`;`

change astpp.dialplan.lua in line 117 to
`
    variable_sofia_profile_name = ""
    variable_sofia_profile_name = params:getHeader('variable_sofia_profile_name')

    authinfo = doauthentication(destination_number,from_ip,variable_sofia_profile_name)
`

update astp

[2018-03-20 07:18] legionnet commented on #346
Just change base_url in /var/lib/astpp/astpp-config.conf

[2018-03-20 07:18] #346 closed

[2018-03-20 07:21] legionnet commented on #347
I think sip registration is needed to binding sip_profiles too

[2018-03-20 08:11] smrdoshi commented on #347
Hi @legionnet

What will be the use case to bind sip profile with ip map?

[2018-03-20 08:16] legionnet commented on #347
It`s more secure. Bind ip auth to sip profile (ip+port).
May use 1 client IP for different rate groups.
First rate group for first sip profile and second rate group for second sip profile.

[2018-03-20 10:53] legionnet opened #348 "freeswitch_form.php"
Please change:
'name' => 'from_domain',
'name' => 'from_user',

to
'name' => 'from-domain',
'name' => 'from-user',

[2018-03-21 12:34] legionnet commented on #347
And update please  freeswitch/fs/lib/astpp.xml.php on line 183
change $query to
$query = "SELECT username,dir_params,dir_vars,number as accountcode,sip_devices.accountid FROM sip_devices,accounts,sip_profiles WHERE sip_profiles.id=sip_devices.sip_profile_id AND sip_devices.
status=0 AND accounts.status=0 AND accounts.deleted=0 AND accounts.id=sip_devices.accountid AND username='" . $_REQUEST ['use

[2018-03-25 14:33] eightsixeight commented on #282
i see you closed this but is there an answer ?

just need to have inbound calls to did 5553332211 be cost calculated so profit actually makes sense...

[2018-03-26 19:14] legionnet opened #350 "IPv6 support"
Please make ipv6 support.

[2018-03-28 12:53] smrdoshi commented on #350
IPv6 is already supported. You just need to create sip profile with IPv6
and it will start working.

<https://mailtrack.io/> Sent with Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality&>

Best Regards
--
Samir Doshi
*iNextrix Technologie**s Pvt. Ltd*.
http://www.inextrix.com

*Disclaimer:*
The information contained in this communication is confide

[2018-03-28 13:00] legionnet commented on #350
Now, it isn`t support :(

[2018-03-28 13:02] smrdoshi commented on #282
Do you want to calculate profile on DID call with buy rate and sell rate?

<https://mailtrack.io/> Sent with Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality&>

Best Regards
--
Samir Doshi
*iNextrix Technologie**s Pvt. Ltd*.
http://www.inextrix.com

*Disclaimer:*
The information contained in this communication is confidential and may be
legally p

[2018-03-28 13:02] smrdoshi commented on #350
It must work. What is the exact error or issue are you facing?

<https://mailtrack.io/> Sent with Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality&>

Best Regards
--
Samir Doshi
*iNextrix Technologie**s Pvt. Ltd*.
http://www.inextrix.com

*Disclaimer:*
The information contained in this communication is confidential and may be
legally privileged.

[2018-03-28 13:08] legionnet commented on #350
I'm exploring the github functions and make pull #352.
Also it needed support ACL for ipv6 address of gateways.

[2018-03-28 13:09] smrdoshi commented on #348
Thanks. We already resolved that in v3.6-dev branch. We are finalizing v3.6
source code for release. Some testing and changes are going on.

<https://mailtrack.io/> Sent with Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality&>

Best Regards
--
Samir Doshi
*iNextrix Technologie**s Pvt. Ltd*.
http://www.inextrix.com

*Disclaimer:*
The information co

[2018-03-28 13:11] smrdoshi commented on #262
We have integrated fixer.io for upcoming version 3.6. The changes are
completed and committed to branch.

‌
<https://mailtrack.io/> Sent with Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality&>

Best Regards
--
Samir Doshi
*iNextrix Technologie**s Pvt. Ltd*.
http://www.inextrix.com

*Disclaimer:*
The information contained in this communication is

[2018-03-28 13:15] #262 closed

[2018-03-28 13:22] #348 closed

[2018-03-28 13:24] smrdoshi commented on #336
No further information. Closing the issue.

[2018-03-28 13:24] #336 closed

[2018-03-28 13:25] #329 closed

[2018-03-28 13:28] smrdoshi commented on #254
@legionnet

Do you mean Code field should accept DEF, MTS keywords?

[2018-03-28 13:38] legionnet commented on #254
In Russia "DEF" abbreviation is mean all russian mobile phones.  (DEF codes)
"ABC" is mean all russian fixed phones.
"MTS" is mobile operator name.
Maybe in other countries there are analogies.

I made such codes in DB instead '^79.*'. And made external checks for this codes.
"MTS" code is mean for me all native and transferred from other operators codes of MTS operator.

[2018-03-28 13:41] legionnet commented on #254
DEF codes has 6477 prefixes;
MTS codes has 919 native prefixes;
and so on.

[2018-03-28 13:46] legionnet commented on #254
I use for external checks number_loop() function now

[2018-03-28 16:04] eightsixeight commented on #282
Yes inbound cost and outbound cost not being calculated

-------- Original message --------
From: Samir Doshi <notifications@github.com>
Date: 2018-03-28 9:02 AM (GMT-05:00)
To: iNextrix/ASTPP <ASTPP@noreply.github.com>
Cc: Frank J <frank@sentricorp.com>, Author <author@noreply.github.com>
Subject: Re: [iNextrix/ASTPP] rates 3.5 (#282)

Do you want to calculate profile on DID call with buy rate an

[2018-03-29 00:28] eightsixeight commented on #54
its a call from trunk..

landline --> telco --> pri -->provider SIP as 14185551212@astppIP  (astpp) gets this from trunk provider aka gateway etc

[2018-03-29 13:52] leandrowcampos opened #353 "Change Default Language"
For change the default language, I change in file: astpp/application/libraries/locale.php
the line:
  function set_lang($lang = FALSE) {
                $current_locale = $this->CI->session->userdata ( 'user_language' );
                if (empty ( $current_locale )) {
                        $current_locale = 'en_US';

to

  function set_lang($lang = FALSE) {
                $current_locale = $th

[2018-03-29 14:10] leandrowcampos opened #354 "DID TollFree Billing with Source Prefix (Mobile/Landline)"
I think in some countries, the billing for DID has diferrents rates between mobile lines and landlines.

Today, the ASTPP allow only a unique billing.

I think all providers want billing based on source number.

Examples:

55329 -> This Prefix is from Brazil, city of Juiz de Fora and the 9 indicate is mobile line.
5532 -> This prefix is from Brazil, city of Juiz de Fora and is fixed line.

If I re

[2018-04-02 14:08] eightsixeight commented on #282
just need the COST of the call to display for inbound.. hence all is 0 right now so it makes profit 4000% ~

[2018-04-02 19:57] xrobau opened #358 "Stop compiling FreeSwitch - use RPMs"
I find it odd that you're installing the freeswitch repo, but not using their RPMS.

Here's the list of RPMs I've been using in my playbook to create a Freeswitch server (note that this is excessive, but is a good starting point)

[code]

[2018-04-02 20:27] xrobau opened #359 "v3.6 branch - don't replace mod_nibblebill.c"
There's a 'realtime billing' feature in 3.6 that replaces mod_nibblebill completely, without any reasoning (or documentation!).  This should be a NEW module, with a different name, as there's a bunch of changes in there against upstream, without any reasoning.

If you wanted to do that, you should do a diff against the source. Here's a diff against upstream:

[code]

[2018-04-03 13:31] smrdoshi commented on #353
We are going to release this feature by default in v3.6.

You can check  commits :
https://github.com/iNextrix/ASTPP/commit/6055c852e4363fffde42c139cc15eaa2679738c7
https://github.com/iNextrix/ASTPP/commit/3a078d0cd040b05c358a8f376b992dde01e1b6a1

[2018-04-03 13:31] #353 closed

[2018-04-03 22:00] xrobau opened #360 "Use Async callback for i18n"
At the moment, all i18n is done via a sync callback.  This can be resolved in two ways:

1. Request all i18n requests in one call, which will still be sync, but will be significantly faster
2. Use callbacks to update the text after it's displayed (or, before). This can use browser storage to speed up the display, as only the first one will be slow. Then you'd have a function that checks browser st

[2018-04-03 22:06] xrobau opened #361 "Please un-deprecate Apache"
Apache is just as fast as php-fpm, and is much more commonly used than nginx, especially on bigger, more commercial systems (eg, RHEL and CentOS).

In fact, some things are still hardcoded to use 'apache' as a username!

[2018-04-03 22:27] powerpbx commented on #361
I would like to second this.  For a control panel, there are no benefits to using nginx imo.

[2018-04-03 22:33] powerpbx opened #362 "Use mysqli_connect and related extensions or PDO instead of mysql_connect"
mysql_connect and related mysql_* extensions were deprecated in php v5.5 and have been removed in PHP v7.  So it would be better if ASTPP were using mysqli_connect or PDO imo.  Those drivers are already included in /system/database/drivers so it doesn't appear like it would be too difficult of a change.

[2018-04-03 22:37] eduardofoliveira opened #363 "Doubt about CallerID Translation"
I am using the following rule to do the translation of CallerID:

![4](https://user-images.githubusercontent.com/20446658/38279390-7104424c-3776-11e8-9376-71200196d5a5.png)

To translate this call:

![1](https://user-images.githubusercontent.com/20446658/38279302-00b28b0c-3776-11e8-9e16-555d11fb93e9.png)

But the output is not replacing the previous CallerID, but adding:

![2](https://user-images.

[2018-04-03 22:53] #362 closed

[2018-04-04 13:06] smrdoshi commented on #363
Caller id translation will either replace the prefix or append a new one. It is not designed to replace entire number like which you are looking for.

It looks like you want to override the caller id for all calls. If so then you can use force caller id feature.

[2018-04-04 13:07] smrdoshi commented on #361
You can configure and run ASTPP on apache as well. By default, we are providing ASTPP to run on nginx.

[2018-04-04 13:38] smrdoshi commented on #360
Thanks for the suggestion and it seems that will improve the UI speed but here I am not pretty clear with Async callback and how it should work? Do you have any reference or doc which we can refer?

[2018-04-04 13:40] smrdoshi commented on #354
Yes, we are planning to add that in V4.0. That will be named Inbound Rates and it will be associated with DIDs.

[2018-04-04 13:43] smrdoshi commented on #358
Thanks for the suggestion. We will check it out about that.

[2018-04-04 13:50] smrdoshi commented on #254
Alright, that can be handled using custom number replacement from code. Will check it out further with team about this feature request.

[2018-04-04 16:18] eduardofoliveira commented on #363
How can I use the force caller id on calls arriving through IP MAP(ACL) ?

[2018-04-04 19:32] xrobau commented on #360
I probably should ask which would you prefer? I'm happy to do either, but I think the async call will be better.

The other problem is that you're going to have to ugprade jQuery from 1.7.1 to something that was written when chrome existed 8)  Is there any particular reason you're bundling it, rather than using one of the CDN hosted versions?

[2018-04-04 19:33] xrobau commented on #361
I think nginx is the wrong default. But that's, like, my opinion, man.

https://www.youtube.com/watch?v=pWdd6_ZxX8c

[2018-04-04 19:35] xrobau commented on #358
Would you like a pull request of my playbook to deploy astpp? I'm not sure how much you guys make from Installation help, so I don't want to remove an income stream from you 8)

It does, however, use Apache, not nginx 8)

[2018-04-05 05:14] devangn commented on #363
@eduardofoliveira which ever account you bind with added ip in IP MAP, change force caller id name and number of it as per your usage and you will get that name and number to UAS side

[2018-04-05 05:38] smrdoshi commented on #360
I do not know how async works. So before commenting on sync and async, I need to study about that. That is why I asked if you have any reference code or guide then please share with me.

Regarding jquery 1.7.1, Nope when we started using that, we assumed that it will be faster and safe to use it from the local folder rather than using CDN hosted version. Moreover, at the moment, we are using flexi

[2018-04-05 08:43] countrdd opened #365 "Feature Request - Free/Local Calling Codes."
The blocked code functionalility on the account screen is very nice. It would be nice to add a Free/Local Calling codes Section to the customer account as well. Where you could Select or enter codes that will not debit the customer account. I believe the Blocked Codes PHP code could be duplicated and instead of blocking the call of a code in this section, the rate billed to the customer would be o

[2018-04-05 09:29] countrdd opened #366 "Feature Request Termination Rates - Search"
Currently, there is no way to search by Modified Date in the Termination Rates.
It would be nice to be able to do a full date/time or partial date time search.
This would allow us to easily identify rate codes that may have been deleted by the carrier and then do a bulk delete.

[2018-04-05 17:03] powerpbx opened #368 "install script wrong for CentOS and Apache"
In the install script you have `systemctl stop apache2` and `systemctl disable apache2` globally.  However, that only works for Debian.

For CentOS it is `systemctl stop httpd` and `systemctl disable httpd`.

[2018-04-05 19:03] xrobau commented on #360
Well, without looking too hard at the code, you're currently generating a string and then returning it. I would probably just do something like (and this is totally untested, and off the top of my head).

[code]

Hopefully that explains what I mean.   You don't actually need to reference the ID, either - you could just pass the jquery th object and update that as part of the ajax callback.

[2018-04-06 10:34] ketan-kothari commented on #368
@powerpbx

`systemctl stop apache2` and `systemctl disable apache2` are working for CentOS 7 also.
So verify it on CentOS 7.

[2018-04-06 13:24] countrdd opened #374 "DID - Orgination Rates not found."
I understand that In order to use a DID. You have to set up the DID in the Origination Rates Table.

I think the following changes would vastly improve the issues with Origination rates not found when dealing with DIDs.

1. When a DID is assigned to a customer, make sure the system automatically creates the DID code in the origination rates table with the rate group of the customer that owns the D

[2018-04-06 13:30] countrdd opened #375 "Feature Request - Origination Rates Import Mapper."
It would be nice if the Functionality of the Termination Rates Import mapper were added to the Origination Rates.

[2018-04-06 16:14] plettonline opened #378 "Accounts marked as deleted in database still get notifications"
Hi guys,

AS we know when an account is deleted it remains in the database marked with a "1" in the "deleted" table. The problem is that a when a service subscription is added to a Tariff group that the deleted account was assigned to, the account's email still gets notified that a service subscription was added to their account.

[2018-04-08 12:31] kristapsdravnieks commented on #374
in file /var/lib/astpp/astpp.lua add line INB_FREE="TRUE" and you will not need Origination rates for DID calls.  Unless you bill for inbound calls

[2018-04-08 12:34] countrdd commented on #374
Thanks. But we bill for certain inbound calls….I.E. 800 inbound

From: Kristaps Dravnieks <notifications@github.com>
Reply-To: iNextrix/ASTPP <reply@reply.github.com>
Date: Sunday, April 8, 2018 at 8:32 AM
To: iNextrix/ASTPP <ASTPP@noreply.github.com>
Cc: Dustian Countryman <countrdd@leillc.net>, Author <author@noreply.github.com>
Subject: Re: [iNextrix/ASTPP] DID - Orgination Rates not found. (#3

[2018-04-08 17:04] countrdd opened #384 "DID MAX Count Excced - SWITCH_CONGESTION should be USER_BUSY"
On line 219 of astpp.xml.lua - If the DID max count is exceeded, the system is doing a Hangup SWITCH_CONGESTION. This is really deceiving when looking at reporting.

I believe it should be SET to USER_BUSY, that way the calling party will get a BUSY signal instead of the FAST BUSY that is assocaited with SWITCH_CONGESTION. The switch is not really congested.

Also, this would be nice because you c

[2018-04-09 04:24] devangn commented on #384
@countrdd
The maxchannels flag is for limiting CC and as per here, https://wiki.freeswitch.org/wiki/Hangup_Causes
SWITCH_CONGESTION | This cause indicates that the switching equipment generating this cause is experiencing a period of high traffic.
and as CC threshold reaches means traffic is high for that DID then expected or allowed.

However if you think 'USER_BUSY' is more appropriate for your

[2018-04-09 04:38] devangn commented on #374
@countrdd
for 1,2,3
There may be chance that admin doesn't use rate as whole DID number as rate code instead they are having prefix same as outbound call and prefix length could be anything from 1 digit to whole DID number length
So as an open soure we need to provide the liberty to admin for different kind of usage scenarios.
The same thing applicable to 4
If you configure DID with correct call t

[2018-04-09 06:04] devangn commented on #339
@eightsixeight Frank, please elaborate the concern, I don't find details enough to understand your request.

[2018-04-09 06:49] countrdd commented on #384
I have another request in as well for the outbound (Issue 281) CC that Samir thought would be a nice feature as well.
SO maybe This and 381 could be a selection box setting in Global Setting that could be

Inbound CC – Switch_Congestion or USER_BUSY
Outbound CC – Switch Congestion or the FILE You want played.

From: devang nathwani <notifications@github.com>
Reply-To: iNextrix/ASTPP <reply@reply.g

[2018-04-09 07:29] #368 closed

[2018-04-09 07:45] #350 closed

[2018-04-09 07:47] #328 closed

[2018-04-09 07:47] smrdoshi commented on #302
It has been resolved in v3.6.

[2018-04-09 07:47] #302 closed

[2018-04-09 07:48] smrdoshi commented on #274
Resolved in v3.6.

[2018-04-09 07:48] #274 closed

[2018-04-09 07:48] #261 closed

[2018-04-09 07:51] smrdoshi commented on #347
We are still unsure about this improvements. Changing milestone to 4.0.

[2018-04-09 07:51] devangn commented on #330
@tcreek Was there any web server already running before you installed ASTPP through script?

[2018-04-09 08:25] #76 closed

[2018-04-10 11:16] #339 closed

[2018-04-10 15:42] powerpbx opened #390 "SIP device edit shows wrong account assignment when account is provider"
This is in v3.5 and v3.6 branches.

 In GUI > Switch > SIP Devices,  SIP device list indicates correct account assignments regardless of whether the account type is provider or customer.

Select Edit action for a SIP device assigned to a provider account, **Account shows the wrong account assignment.**

If you save that it will now be assigned to the wrong account.  The reason appears to be becaus

[2018-04-10 19:13] powerpbx opened #391 "Deleting accounts in GUI does not delete them in the database"
To reproduce on v3.5 or v3.6

Create an account via GUI.  Verify it is in `accounts` table in DB.

Delete account in GUI.  The account is still in the DB.

[2018-04-10 23:12] powerpbx commented on #390
If you comment out this line it corrects the problem.  Need to add a filter to not include accounts that are not Customer or Provider.

https://github.com/iNextrix/ASTPP/blob/v3.6/web_interface/astpp/application/modules/freeswitch/libraries/freeswitch_form.php#L2793

[2018-04-11 08:09] smrdoshi commented on #390
Issue has been resolved.

[2018-04-11 08:09] #390 closed

[2018-04-11 11:37] plettonline commented on #338
Should this be solved in 3.6 ?

[2018-04-11 12:43] slango-im opened #395 "SIP Devices Not Loading"
Hello!

Under the customer profile, when clicking "SIP Devices", it just hangs and keeps loading. There is no way to see the list of SIP devices.

It's happened on 3 different installations now. How can it be fixed?

![image](https://user-images.githubusercontent.com/25807874/38617214-a851bf88-3d96-11e8-8246-0229b029ae14.png)

[2018-04-11 13:11] powerpbx commented on #395
What version are you running?

[2018-04-11 13:14] slango-im commented on #395
I'm running 3.5.

And this is what I'm getting under "SIP Devices" in the main menu....

![image](https://user-images.githubusercontent.com/25807874/38618855-0d1fbce0-3d9b-11e8-8669-39a11c8f0d26.png)

[2018-04-11 17:25] pacomms opened #396 "subscriptions issue"
The issue is this, if a subscription is added to the system, then assigned to a rate/package then a customer is added the subscription is not added to the customers account unless the subscription is edited and saved again.

[2018-04-11 23:41] powerpbx opened #397 "pagination not working"
On v3.6

If you go to Switch > SIP Profiles > and select default profile it show all 48 records even though pagination defaults to 10 records.  Clicking from page 1 of 5 to 5 of 5 does not change anything.

[2018-04-12 04:58] smrdoshi commented on #395
Change environment variable from development to production. That will resolve your issue.

[2018-04-12 04:59] smrdoshi commented on #391
We do not do hard delete for accounts. When you delete the account, we simply change the field value from 0 to 1 in database and keep it in database.

[2018-04-12 04:59] #391 closed

[2018-04-12 05:02] smrdoshi commented on #397
That's not a bug.

We disabled paging for sip profile as sip profile have a lot of variables and when you work on that, you want to see all variables value at the same time to make the correct decision and to avoid any impact on calls.

[2018-04-12 05:02] #397 closed

[2018-04-12 05:03] smrdoshi commented on #378
It has been resolved.

[2018-04-12 05:03] #378 closed

[2018-04-12 05:03] smrdoshi commented on #311
Fixed.

[2018-04-12 05:03] #311 closed

[2018-04-12 05:04] smrdoshi commented on #331
1.  Fixed.
2. We do not have limit for receiving calls.
3. Contact to sales@inextrix.com.

[2018-04-12 05:04] #331 closed

[2018-04-12 05:04] smrdoshi commented on #332
We confirmed with 3.6 and its working fine.
Please update version and confirm.

[2018-04-12 05:04] #332 closed

[2018-04-12 05:04] smrdoshi commented on #338
Yeah. Please confirm.

[2018-04-12 05:04] #338 closed

[2018-04-12 10:32] slango-im commented on #395
Thank you, it's fixed.

[2018-04-12 15:26] powerpbx commented on #226
Any plans to fix this?

PHP has a built in class library for this since v5.2.

http://php.net/manual/en/class.datetime.php

[2018-04-12 22:30] pacomms commented on #396
Any ideas what is causing this ?

[2018-04-13 04:41] #395 closed

[2018-04-13 08:46] slango-im opened #399 "Feature Request - Rates Management"
Hello!

How can we create an origination list, which is a list of all our lowest termination rates + markup?

For example, we have 10 termination partners. All 10 have code +38093 with different prices.

But when we want to re-sell, we need to create an A-Z list with only one code of +38093.

The list should have only one code, based on some logic. Which would be the lowest cost + markup.

Is this

[2018-04-13 21:06] eduardofoliveira commented on #363
@devangn Where can I change to make this CallerID change?

[2018-04-13 21:45] powerpbx commented on #399
That almost sounds like you are asking for a call simulator.  I know call simulators for one number are fairly common on platforms like this.  So you basically enter the number and it will show the details such as what plan/rate/route it would take etc.  It sounds like you want to do that for all your codes which may be a rather heavy load and may take some time.

I would like to at least see a ca

[2018-04-15 11:33] slango-im commented on #399
Hi @powerpbx , I'm not sure it's a call simulator. Simply, how can we create our own A-Z list so other terminators can buy from us?

I have 10 termination partners. I want to take the best price of each one and create an A-Z origination list to give to buyers.

... Does that make sense?

[2018-04-15 19:50] powerpbx commented on #391
What is the reasoning behind this.

I am finding that this creates problems.  For example, if I have an IP setting for an account I delete..
 Not only does the account remain in the DB but it appears other related settings remain.  Those settings then interfere with adding new settings.

For example, if there are SIP devices and IP settings associated with a deleted account.  They also remain in t

[2018-04-15 20:00] powerpbx opened #401 "SIP devices and IP settings are orphaned after deleting account"
There are probably other settings that are orphaned as well.

So it appears that deleting an account only makes all the related settings disappear from the GUI but not the DB.  This creates problems when trying to add new settings as they will fail validation if they have the same SIP username or IP etc.

[2018-04-15 20:18] powerpbx opened #402 "Deleting trunk does not remove it from DB"
Another thing that is not deleted from the DB when deleted from the GUI.  If this is by design I am curious why.

[2018-04-16 03:33] waichiu8520 opened #403 "502 bad gateway with ASTPP"
I am using nginx with 1.12.2 to access ASTPP, but the web browser shows 502 bad gateway. After invetigation, it may relate to nginx buffer config problem.

/etc/nginx/conf.d/cent_astpp.conf

server {
        listen 8089 default_server;
        listen [::]:8089 default_server;

        root /var/www/html/astpp;
        client_max_body_size 8M;

        # Add index.php to the list if you are using P

[2018-04-16 03:37] devangn commented on #403
Check php-fpm sevice status

[2018-04-16 03:52] waichiu8520 commented on #403
The php-fpm sevice  is running.

[root@localhost log]# service php-fpm status
Redirecting to /bin/systemctl status php-fpm.service
● php-fpm.service - The PHP FastCGI Process Manager
   Loaded: loaded (/usr/lib/systemd/system/php-fpm.service; enabled; vendor preset: disabled)
   Active: active (running) since Sun 2018-04-15 23:45:36 EDT; 4min 11s ago
 Main PID: 16504 (php-fpm)
   Status: "Processe

[2018-04-16 05:16] devangn commented on #403
Install net-tools and check the response of below command,
# netstat -pan|grep 9000
It should be, tcp        0      0 127.0.0.1:9000          0.0.0.0:*               LISTEN      XXX/php-fpm: master

[2018-04-16 06:57] suneyo21 opened #404 "Reverting force trunk"
Let say i have Rategroup X with 100 different prefixes and rates.

This Rategroup X has 2 Trunks enabled.
- Trunk 1 (priority 0)
- Trunk 2 (priority 1)

I have filtered bunch of prefixes/rate from Rategroup X out of 100 let say 50, perform batch update to force trunk "Set to" Trunk 3

How can i revert it back to the original trunk priority set on the Rategroup X, disabling the force trunk.  (Can't

[2018-04-16 07:02] devangn commented on #399
@slango-im As per existing configuration, you can create a list of origination rates manually for particular prefix and set the force-trunk to whichever trunk under one rate group and assign that rate group to whoever you want sell that rate card.
For automatic procedure, you need quite a modification as per your exact requirement. If you need we may help you with you it, contact us sales@inextrix

[2018-04-16 09:38] waichiu8520 opened #405 "Make External Call with ASTPP integrated Freeswitch"
I installed the ASTPP v3.6 and freeswitch together. I have a another sip server which connects the PSTN gateway.

Previously, I can set in default.xml in conf folder.
           <extension name="demo">
              <condition field="destination_number" expression="^(.*)$">
	             <action application="bridge" data="sofia/external/sip:$1@<another sip server:port>"/>
              </condition

[2018-04-16 09:39] waichiu8520 commented on #405
default.xml
<extension name="demo">
<condition field="destination_number" expression="^(.*)$">
<action application="bridge" data="sofia/external/sip:$1@<another sip server:port>"/>
</condition>
 </extension>

[2018-04-16 09:40] waichiu8520 commented on #405
defalut.xml

extension name="demo"
              condition field="destination_number" expression="^(.*)$"
	             action application="bridge" data="sofia/external/sip:$1@<another sip server:port>"
              condition
              extension

[2018-04-16 17:54] #244 closed

[2018-04-17 16:42] eduardofoliveira opened #408 "I need SipCallId"
Good afternoon,

Is it possible to make any changes to save the SipCallID of calls in the cdrs table of the ASTPP database?

[2018-04-19 10:43] countrdd commented on #375
Working on this....

[2018-04-20 02:50] MrSupaMike commented on #408
Hi,
I noticed that since I upgraded v3.5 to v3.6 callerID number was missing from the CDR records. Only callerID name was saved.
I don't know if this is the same issue you're referring to, but I made a quick fix for it:

https://github.com/iNextrix/ASTPP/pull/410

[2018-04-21 07:30] pacomms commented on #396
Any updates on this issue ? im going live in 2 weeks and this is causing a real headache :)

[2018-04-21 12:30] eightsixeight commented on #282
ok so i put cost in the did itself @ 0.01

why apply markup on cost ?

2018-04-21 08:27:44.738093 [INFO] switch_cpp.cpp:1365 [ASTPP] Markup : 150
2018-04-21 08:27:44.738093 [INFO] switch_cpp.cpp:1365 [ASTPP] [FIND_MAXLENGTH] LIMITING CALL TO CONFIG MAX LENGTH 120!!!
2018-04-21 08:27:44.738093 [INFO] switch_cpp.cpp:1365 [ASTPP] =============== Rates Information ===================
2018-04-21 08:27:

[2018-04-24 04:07] Jasonong1025 opened #412 "[ERR] switch_xml.c:1695 Error[[error near line 70]: unexpected closing tag </head>]"
After install Astpp with freeswitch using debian 8 freeswitch has return error once start up the statement below is the error return. I have check this file which don't think having this error at line 70.

[ERR] switch_xml.c:1695 Error[[error near line 70]: unexpected closing tag </head>]

This is that part of code at line 70 in switch_xml.c
typedef struct {
        size_t gl_pathc;

[2018-04-24 11:28] smrdoshi commented on #412
That's not an issue of ASTPP. Also we are in discussion in google group. Closing this issue.

[2018-04-24 11:28] #412 closed

[2018-04-24 11:31] smrdoshi commented on #402
That's right.

[2018-04-24 11:31] #402 closed

[2018-04-24 11:33] smrdoshi commented on #282
That is how it should work as rate group which has been assigned to customer, you have configured markup in that.

[2018-04-24 11:34] smrdoshi commented on #396
Hi @ankitdoshi

Did you workout on that issue?

[2018-04-24 11:37] ankitdoshi commented on #396
HI @smrdoshi
Yeah, Work in progress.
Will update by this week.

[2018-04-24 11:51] smrdoshi commented on #405
It will not considered any other .xml files. It will generate its own .xml in realtime and process the calls.

[2018-04-26 22:52] eduardofoliveira commented on #408
Good evening,

Actually need this information to relate the log of another PBX that is behind the ASTPP.

[2018-04-27 19:51] eightsixeight opened #413 "latest version bug in reports"
http://prntscr.com/jazka6

You can see all successfull are now fails as well ,

but in the details they are all NORMAL_CLEARING [16]

[2018-04-27 23:08] MrSupaMike commented on #413
I have something similar:

Calls work fine, everything works as before update. But on the main report it shows all calls as failed.

https://prnt.sc/jb1vdl

[2018-04-28 18:14] powerpbx opened #415 "Max call length appears to be calculated wrong depending on settings"
The system Call Max Length that is set in Configuration > Settings defaults to 144000 (24 minutes).  However, it appears to interact with Origination rates to cause an incorrect calculation above a certain amount depending on the origination rate.

If the call origination rate is 0.0200 6/6 then max_call_length is correctly calculated as 24 minutes which can be seen from `fs_cli` while making the

[2018-04-29 04:34] plettonline commented on #413
I can confirm the same...

[2018-04-29 07:58] pacomms commented on #413
i confirm bug as well

[2018-05-01 09:49] DigiDaz opened #419 "Problem with failover trunks"
When a trunk has failover configured, eg gateway1, gateway2, gateway3 I notice that if a call is rejected at the remote end and sends back a 486 busy then each of the failover gayeways is tried and the called party has to reject the call three times.

[2018-05-01 13:40] FozzyGo4 commented on #345
Ringback is media and requires transcoding. You need the commercial G.729 licence from FreeSWITCH installed.

[2018-05-02 05:45] plettonline commented on #338
Hi guys,

Seems like this issue still persists exactly as before... The Monthly DID charge went off this month however the amount went off as "0" instead of "80" as it should have. The price of the DID has been set at a monthly price of "80" yet the system still charges "0"

[2018-05-02 11:28] ManuellaC opened #420 "Graph of Monthly Stat"
I'm having a problem with the graph of Monthly Stat, the value of Failed Calls is equal the value of Total Calls and this is wrong. How do we fix this?

[2018-05-02 12:52] MrSupaMike commented on #420
@ManuellaC , This issue has been reported before and a pull request with the fix has been submitted:

https://github.com/iNextrix/ASTPP/pull/418

[2018-05-02 13:51] MrSupaMike commented on #420
If you want to fix the issue right away:

find the file dashboard_model.php which should be in: astpp/application/modules/dashboard/models/
and edit line 56

Line 56 currently looks like this:
count(CASE WHEN disposition NOT IN ('NORMAL_CLEARING','SUCCESS') THEN 1 END) as failed,

Fix it by adding 'NORMAL_CLEARING [16]' like this:
count(CASE WHEN disposition NOT IN ('NORMAL_CLEARING','SUCCESS','NO

[2018-05-03 07:16] smrdoshi commented on #420
Request merged.

[2018-05-03 07:16] #420 closed

[2018-05-03 07:42] smrdoshi commented on #419
Yes, it will try as we have set continue_on_fail=true in code, that means in do failover for all not successful calls.

You can either change code from call script or configure that parameter in gateway.

Reference doc : https://wiki.freeswitch.org/wiki/Variable_continue_on_fail

[2018-05-03 08:05] smrdoshi commented on #415
Found the problem and it is fixed now in latest source.

[2018-05-03 08:05] #415 closed

[2018-05-03 08:05] #413 closed

[2018-05-03 08:06] smrdoshi commented on #408
You can send custom variable from your PBX to ASTPP and then capture it in CDR process. That should do your job.

[2018-05-03 08:07] #405 closed

[2018-05-03 08:10] smrdoshi commented on #404
Those options will not disable force trunk. For the moment, you can run database query and update the force trunk field.

[2018-05-03 08:26] smrdoshi commented on #401
When you delete an account, we are deleting records from all modules which belong to that account except for accounts and cdrs. For account, we do soft delete which means only flag will be changed and it will disappear from the UI.

The purpose to do soft delete of account and to keep CDR is, in many countries admin need to keep cdr records for all the customers for few months or years. Now if we

[2018-05-03 14:04] eduardofoliveira commented on #408
Hello Samir,

This would help me a lot, how can I make this setup?

Or where can I find a tutorial or material to study on this subject?

[2018-05-03 16:25] ManuellaC opened #421 "Usage Report doesn't open"
I can't open the Usage Report, that is on the way **Tariffs > Packages > Usage Report**. When I press to open this page, it is loading and doesn't open. Does anyone have the same problem?

[2018-05-04 09:57] pscomgr commented on #396
Hi,
i am waiting this module to go live. do you have estimate time for fixing this bug?

[2018-05-07 08:42] pacomms commented on #396
still no fix yet ?

[2018-05-09 18:49] powerpbx commented on #401
Create a customer account and add a sip device.  Now delete that customer account.

Now create another customer account and try dd a sip device with the exact same name.  It will fail validation because that same sip device name still exists in the database.

I believe the same thing will happen if you add IP Settings to an account and then delete account and then try add the same IP again to a di

[2018-05-09 19:31] powerpbx commented on #421
The menu loads for me but the table is empty.  I tried creating a package but it's still empty.  Is there anything else we are supposed to configure?

[2018-05-10 13:00] smrdoshi commented on #421
It will display records when your customer will make calls using that
package.

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality4&>
Sender
notified by
Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality4&>

Best Regards
--
Samir Doshi
*iNextrix Technologie**s Pvt. Ltd*.
http://www.inextrix

[2018-05-11 17:12] plettonline commented on #338
1. Direct customer DID charges seem to be going off as expected.

2. Reseller DID charges and the Customers of the Resellers are not being charged.. (Value shows "0" and invoice due date shows 1970-01-01)

3. Monthly Charge for DID is configured as 80.00 on the reseller's panel ...

Screen shots below or recent occurrence taken from within resellers panel

![screen shot 2018-05-11 at 19 07 03](htt

[2018-05-14 07:26] plettonline commented on #338
Hi Samir,

Details have been emailed..
Thank you

[2018-05-15 06:52] pscomgr commented on #396
Is there any update?

[2018-05-15 11:35] smrdoshi commented on #401
Just tried same thing which you mentioned and it worked without any
problem.

Here is the video of it : http://nimb.ws/BqpSnb

‌
[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality4&>
Sender
notified by
Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality4&>

Best Regards
--
Samir Doshi
*iNext

[2018-05-15 11:49] ankitdoshi commented on #396
Please update source and check and confirm this issue.

[2018-05-15 13:37] powerpbx commented on #401
That video shows you deleting a customer device.  Not a provider device.

[2018-05-19 09:03] pacomms commented on #396
will advise

[2018-05-23 05:50] #374 closed

[2018-05-24 17:31] N1ck3l commented on #345
Even if the codec G729 is now a patent-free codec, according to [this ](https://en.wikipedia.org/wiki/G.729) link and more detailed [here](https://en.wikipedia.org/wiki/G.729#Licensing) ?

IMO it's a commercial decision to maintain those codecs and charging for its usage. I understand that freeswitch  needs to make money or invested money to have those codecs while the licensing was mandatory. I w

[2018-05-25 17:33] powerpbx commented on #326
I have a config file that is working more or less with v2.4 of opensips after some modifications.  However, I ran into other problems that go well beyond just the config file. It appears to be looking for some non-existent tables in the opensips DB.  There is no mention of that in the install guide so not sure what is going on there.  I haven't decided if I want to spend more time working on this

[2018-05-27 15:49] AlexHeylin opened #429 "Manual invoice decreases customer balance but automatic invoices increase it"
All charges are entered as positive numbers.  Automatically invoiced charges (call charges and subscriptions) cause customer balance to increase.  Manually entered invoice (with positive number) causes customer balance to decrease.  This is inconsistent and causes customer balance to have wrong value.

I assume that positive customer balance is supposed to be a debt, and negative balance is actual

[2018-05-27 15:54] AlexHeylin commented on #429
![accounts-wrong-balance](https://user-images.githubusercontent.com/270973/40587949-50aa7638-61ce-11e8-9edb-b2f34fc10070.PNG)

Note that the actual manual invoice charges (invoices 51-53) are missing - (opening a separate issue for this) but all charges are shown as debit so should cause balance to move in the same direction - but they don't.

[2018-05-27 15:58] AlexHeylin opened #430 "Manual invoice charges are not shown in customer charge history, but the tax on them is"
Possibly related to issue #429

Enter a manual invoice, to which tax applies and the tax charge is entered in the customer charge history but the invoice items are not entered.

![customer_charge_history](https://user-images.githubusercontent.com/270973/40587999-ebb7cdf6-61ce-11e8-97c8-6936db7787f2.PNG)

[2018-05-27 17:18] AlexHeylin commented on #430
![man-invoice_53](https://user-images.githubusercontent.com/270973/40588717-e0d53cec-61d9-11e8-8f11-b3f2399a2f09.PNG)
Note that the date is wrong on the PDF of the manual invoice.

![man-invoice-details-missing](https://user-images.githubusercontent.com/270973/40588741-4b8a60b2-61da-11e8-8e97-ed87881a4901.PNG)
Note that the actual invoice items are missing from the invoice_details table.

Perhaps

[2018-05-27 17:30] AlexHeylin commented on #430
![inv-man-test2](https://user-images.githubusercontent.com/270973/40588788-e9077d84-61da-11e8-8fcd-20acb818e566.PNG)

Using the date picker on the invoice line, results in a valid date (but this should be optional, and set to sane default if not used) - but still no entry in invoice_details
![invoice_details2](https://user-images.githubusercontent.com/270973/40588857-f9f2d9ee-61db-11e8-8728-a42d59

[2018-05-27 17:39] AlexHeylin commented on #430
This occurs if a date is not picked when entering line item.  The created_date on the invoice_details is set to "0000-00-00 00:00:00" which I assume the web interface ignores on loading - as it doesn't appear in list, even at the bottom of the list.  Invoice entry date picker should be optional, probably not include time, and default to current datetime if not manually set.

[2018-05-27 23:19] tcreek commented on #330
No, but is seems the script now functions after seeing some advice about installing a Desktop with Debian.

[2018-05-28 07:13] #330 closed

[2018-05-28 07:18] devangn commented on #345
@N1ck3l Freeswitch guys are keep suggesting to use licensed version only and till now transcoding needs license.

[2018-06-02 21:41] AlexHeylin opened #432 "Some DB columns types do not match across tables"
I came across this while building a relationship diagram for the DB.
For example:
- astpp.sweeplist.id = int(10) unsigned -> astpp.accounts.sweep_id = tinyint(1)
- astpp.sweeplist.id = int(10) unsigned -> astpp.charges.sweep_id = int(1)
- astpp.cdrs.trunk_id = smallint(6) -> astpp.trunks.id = int(11)
- astpp.cdrs.pricelist_id = smallint(6) -> astpp.pricelists.id = int(11)
- astpp.ip_map.pricelist_

[2018-06-08 07:21] devangn commented on #432
@AlexHeylin Thanks for pointing this out, we'll consider it. Or better, if you can send us the PR with above modifications.

[2018-06-08 07:48] #421 closed

[2018-06-08 07:59] devangn commented on #419
@DigiDaz
https://github.com/iNextrix/ASTPP/commit/7eb4a7db3ef8e7718f695e739387759cae1183ab#diff-b4ed7e9120fc034f6024af3c5f1f52f0
Check above commit for not to get failover when user is busy or whatever configuration you want.

[2018-06-08 08:02] #403 closed

[2018-06-08 09:19] AlexHeylin commented on #432
I'll test this in my dev and send you PR when ready. Thanks

On Fri, 8 Jun 2018, 08:21 Devang Nathwani, <notifications@github.com> wrote:

[2018-06-08 15:46] AlexHeylin commented on #399
In mysql, something like this
[code]
I'm not sure this is the best way to do this, but it seems to work. Test yourself before relying on this.

Note this will only match exact prefix / pattern / code matching, it will not take account of longer or shorter prefixes which may be cheaper. However this is what you requested.

You requested this was based on termination rates + markup, however this use

[2018-06-10 18:02] whitesparrowbd opened #435 "A Database Error Occurred"
When i would like to update a customer this error occured from ADMIN PANNEL
and could not update anything, please give me a solution

Error Number: 1054

Unknown column 'cps' in 'field list'

UPDATE `accounts` SET `id` = '3', `type` = '3', `password` = 'gaiaRg3lAZI$nTbTjVVe4Z0-hFxXrxCzQTOIug0SHow', `pin` = '320736', `first_name` = 'default', `last_name` = 'provider', `company_name` = 'ASTPP', `tel

[2018-06-10 22:02] whitesparrowbd opened #436 "Version 3.6 | Email is not sending automatically"
I have tried many times in many way
E-mail on signup, forgot password or anyone is not sending automatically, i need to send it from manually from E-mail history page.

I have already enable E-mail notification from Configuration > Settings

Can you help me to solve it?

[2018-06-11 05:14] smrdoshi commented on #436
Have you configured crons?

[2018-06-11 05:14] smrdoshi commented on #435
Your database looks like with version 3.5. Please update it.

[2018-06-11 06:10] devangn commented on #396
Closing this because of no activity since long time. Please respond to it to reopen it.

[2018-06-11 06:14] devangn commented on #326
You may review #431 PR by @powerpbx

[2018-06-11 07:46] whitesparrowbd commented on #436
yes configured the given crons

# Generate Invoice  
0 1 * * * cd /var/www/html/astpp/cron/ && php cron.php GenerateInvoice 
# Low balance notification
0 1 * * * cd /var/www/html/astpp/cron/ && php cron.php UpdateBalance          
 # Low balance notification
0 0 * * * cd /var/www/html/astpp/cron/ && php cron.php LowBalance 
# Low credit notification
0 0 * * * cd /var/www/html/astpp/cron/ && php cr

[2018-06-12 09:49] pscomgr commented on #396
1.	I first create a subscription and chose a rate group. Then in the customer account / billing settings / rate group I chose the rate group. However the subscription page for this customer is not updated accordingly.
Plus, I can neither assign subscription to the customer manually.

2.    I have created an account for a customer. I assigned a specific rate group to this customer and saved it. The

[2018-06-12 13:34] pscomgr opened #439 "Greek characters support on email"
Hi,

i m getting ???? when i try to right to greek ver. 3.6 on email templates

[2018-06-12 19:42] pscomgr opened #440 "Signup - empty rate group on customer"
I just enable signup and i select from setting the default rate group.
when the client registers he can't see the rate group into his account

[2018-06-13 07:44] devangn commented on #440
That newly create account will be under 'default' rate group and rates will be applied accordingly.
Customer portal wont need/have rate group information, its for admin/reseller's use.

[2018-06-13 08:08] devangn commented on #396
We'll check and respond.

[2018-06-13 08:27] pscomgr commented on #440
but as you can see in the picture i have set default rate group for new accounts.
![capture](https://user-images.githubusercontent.com/38977346/41339041-89952bb0-6efc-11e8-9d33-904cce388c4f.PNG)

so probably the client must have some rates in his account.
correct?

in admin panel i can't see the rates for the new account it's empty.

[2018-06-14 06:19] devangn commented on #440
Yeah, then new account(client/customer) will have the rates which are assigned to 'default' rate group.
![signup-cust-rg](https://user-images.githubusercontent.com/11748910/41394801-fb7901da-6fc8-11e8-83cf-79990e02e71f.png)

[2018-06-14 06:29] pscomgr commented on #440
Correct, that's what i thought. But in my installation i can't see rate group when a client signed up!

[2018-06-14 06:41] devangn commented on #396
@pscomgr
1. We have tested and its working after applying above patch.
2. You mean if you edited amout from 5 to 12 then it should deduct only difference 7?

[2018-06-14 06:49] devangn commented on #436
About 'email not sending issue', you can enable mail debug from configuration and monitor the logs in /var/log/astpp/astpp_email.log file.
About other event's cron, those event are triggered from button click and managed by calling according scripts when required/button clicked.

[2018-06-14 06:50] pscomgr commented on #396
1.Where is the patch?
2.no, i haven't change the amount. edit and save only

[2018-06-14 07:30] devangn commented on #439
You need to modify DEFAULT CHARSET value for the responsible mysql tables which are default_templates and mail_details

[2018-06-15 07:44] devangn commented on #396
1. patch #396
2. So what are you editing in subscription?

[2018-06-15 08:21] pscomgr commented on #396
1. could you tell me how can i apply the patch to my server?
2. By mistake as usual : )

[2018-06-20 12:42] leandronvoip opened #443 "Free Calls don't work without balance"
Hi,

I have some packages of free calls.
If the customer balance is 0, the free calls don't work.
If the customer balance is 0.10, and the cost for minute is 0.10, the call will drop after one minute.

The correct is free calls work with balance 0, if the minutes are consumed and customer don't have balance, drop the call, if the minutes are consumed and customer have balance, debit from balance t

[2018-06-21 17:11] eduardofoliveira opened #444 "Edit Contact Param On Invite"
Good afternoon,

Can someone help me with a question?

How do I change the contact field of an INVITE

I need to remove the prefix "gw+"

Because my termination determines the client based on the contact header

Regards,

Eduardo.

[2018-06-21 17:23] eduardofoliveira commented on #408
Hi,

I was able to solve the problem using the esl interface.

Once the call is terminated with the HANGUP_COMPLETE event I get the variable_sip_call_id and Unique-ID fields and in this way I can relate the Astpp records to my PBX.

Regards,

Eduardo.

[2018-06-21 17:23] #408 closed

[2018-06-21 17:24] #363 closed

[2018-06-23 08:46] pscomgr commented on #439
i did but nothing changed, i tried to change to UTF8_unicode_ci , UTF_general_ci , greek_general_ci.

[2018-06-23 13:58] pscomgr commented on #396
When i create an account and add balance 100 euro and also assign to a rate group with subsrciption, the balance update in the account but the mail containing #BALANCE# doesn't update.

also could you add concurrent channels on subscription as an option?

[2018-06-26 16:08] scoobydoowru commented on #444
There was a recent commit on v3.6 that added "Extension-In-Contact" setting in Gateway settings.  I think if you set that to true it will accomplish that.

https://freeswitch.org/confluence/display/FREESWITCH/Sofia+Gateway+Authentication+Params

[2018-06-26 16:09] powerpbx commented on #444
There was a recent commit on v3.6 that added "Extension-In-Contact" setting in Gateway settings. I think if you set that to true it will accomplish that.

https://freeswitch.org/confluence/display/FREESWITCH/Sofia+Gateway+Authentication+Params

[2018-06-27 04:49] devangn commented on #439
@pscomgr May be this can help, [PHP MySQL Greek letters showing like ???? marks](https://stackoverflow.com/questions/11806319/php-mysql-greek-letters-showing-like-marks)

[2018-06-27 04:51] devangn commented on #444
@eduardofoliveira PR #434

[2018-06-27 04:57] devangn commented on #440
@pscomgr You mean in customer portal?
You will see it in admin portal and can change it also.
From customer portal you wont see it, it just applied to that customer. In customer portal they just see 'My Rates' as per the rate group assign to them.

[2018-06-27 06:36] devangn commented on #443
@leandronvoip

Account has 0 balance and having origination rate = 0.50 for prefix in rate group of that account
free package is applied to that rate group
This call will work.

[2018-06-27 18:03] AlexHeylin opened #445 "Currency import broken by retired API (again)"
Shortly after this was kindly rewritten in v3.6, fixer.io retired the old API and the new one only allows the base currency to be EUR in the free plan. Doh!

I'm working on changing to a new API.  I'll probably use https://1forge.com/forex-data-api/pricing unless anyone has better suggestion? Needs to allow a choice of base currency, and be free then very cheap for low usage. We'll encourage users

[2018-06-27 20:50] leandronvoip commented on #443
But don't are working. If balance are 0, free calls don't complete.

Um abraço,
	Leandro Campos
	CEO
	(11) 4118-6267
	 leandro.campos@nvoip.com.br     (https://www.nvoip.com.br)  (https://www.linkedin.com/in/leandro-campos/)
27 de junho de 2018 03:37, "Devang Nathwani" <notifications@github.com (mailto:notifications@github.com?to=%22Devang%20Nathwani%22%20<notifications@github.com>)> escreveu:
	@l

[2018-06-28 19:47] AlexHeylin commented on #445
PR issued https://github.com/iNextrix/ASTPP/pull/446

[2018-06-30 11:46] AlexHeylin commented on #432
This is what I'm testing in my dev

#### astpp.sweeplist.id = int(10) unsigned -> astpp.accounts.sweep_id = tinyint(1)
[code]

#### astpp.sweeplist.id = int(10) unsigned -> astpp.charges.sweep_id = int(1)
[code]

#### astpp.cdrs.trunk_id = smallint(6) -> astpp.trunks.id = int(11)
[code]

#### astpp.cdrs.pricelist_id = smallint(6) -> astpp.pricelists.id = int(11)
[code]

#### astpp.ip_map.pricelist

[2018-06-30 11:56] AlexHeylin commented on #366
@countrdd To find rates, adjust the interval at which you consider them deleted by carrier then run this
[code]

To delete them, change the ``` select *``` to ```delete``` like this
[code]

[2018-06-30 12:02] AlexHeylin commented on #365
@countrdd - Could you not assign the customer to a Rate Group which contains Origination Rates at zero cost for those destinations?  If not, please explain why so we can better understand your request?

[2018-06-30 12:05] countrdd commented on #365
The main reason, is the way rate groups work., they are not stackable. You can only assign a customer to 1 rate group. So that would be a crazy amount of rate groups to maintain.

[2018-06-30 12:16] AlexHeylin commented on #226
If you change this, please don't do anything that would prevent the system being set to UTC (or any other UTC offset) and ignoring DST completely.

[2018-06-30 13:38] AlexHeylin commented on #365
Ah, so your customers might all have free "local" calls, but the "local" may be different for different customers?

Could you do this with a Package? Each Package allows up to 35,791,394 mins to whichever rates are allowed.  While still having to maintain the packages, each Package contains only the rates you want to include so is much smaller than having to maintain a complete duplicate of the Ra

[2018-07-01 15:20] AlexHeylin opened #447 "PHP Deprecated: logger has a deprecated constructor in /var/www/html/fs/lib/astpp.logger.php on line 23"
It's actually on line 26

[2018-07-02 11:11] #447 closed

[2018-07-02 11:11] #444 closed

[2018-07-02 11:12] devangn commented on #443
@leandronvoip Share the whole call fs_cli log with debug level and share the pastebin link please.

[2018-07-02 13:09] AlexHeylin opened #450 "Unable to add zero-cost DID to customer account unless account balance below credit limit"
Current Behaviour:  Try to assign DID with zero cost, get "This Account have not sufficient amount to purchase this DID" message.

Expected Behaviour: DID is assigned to account.
![astpp-gma- 19](https://user-images.githubusercontent.com/270973/42165942-6db18c68-7e01-11e8-8d2a-f155c33f52b2.png)

Guys - I don't understand this one well enough to fix it myself and send you a PR for it.

[2018-07-03 21:13] powerpbx commented on #436
Maybe a stupid question but have you verified that emails sent manually work?

`echo testing | mail -s "test mail" somemail@somedomain.com`

[2018-07-04 23:14] leandronvoip commented on #443
2018-07-04 20:08:49.528948 [DEBUG] sofia.c:7084 Channel sofia/default/[ACCOUNT]@[DOMAIN] entering state [received][100]
2018-07-04 20:08:49.528948 [DEBUG] sofia.c:7094 Remote SDP:
v=0
o=- 3739723729 3739723729 IN IP4 192.168.15.173
s=pjmedia
b=AS:84
t=0 0
a=X-nat:0
m=audio 4020 RTP/AVP 8 0 9 101
c=IN IP4 192.168.15.173
b=TIAS:64000
a=rtpmap:8 PCMA/8000
a=rtpmap:0 PCMU/8000
a=rtpmap:9 G722/8000
a=r

[2018-07-04 23:20] leandronvoip commented on #443
If I put credit suficient to make the call, on CDR shows free call and don`t debit on balance. But are working only If I has balance.

![image](https://user-images.githubusercontent.com/40430440/42296076-9254ce78-7fc7-11e8-9f59-a2a18e42ab59.png)

[2018-07-04 23:31] leandronvoip commented on #354
Thanks Samir. When v4.0 release, I will donate some amount to project. This feature will save a lot for me.

[2018-07-06 15:14] AlexHeylin opened #452 "Origination & Termination Rate import sample files states currency is USD, if base currency not USD"
Header row is

Code | Destination | Connect Cost(USD) | Included Seconds | Per Minute Cost(USD) | Initial Increment | Increment
-- | -- | -- | -- | -- | -- | --

Should either state base currency, or not mention currency at all.  Will remove mentions of currency and submit PR when I have time.

[2018-07-09 18:51] AlexHeylin opened #453 "Dashboard top graph - profit scaling not optimum"
Currently total calls goes to the left yAxis, while answered calls, unanswered calls, and profit goes to the right yAxis.  This doesn't make sense to me, and in high-value currencies like GBP the profit is scaled to virtually invisible because the right yAxis scales to the number of calls.
![22-dashboard-without-gma-patch](https://user-images.githubusercontent.com/270973/42469795-abf13398-83b0-11e

[2018-07-10 04:56] smrdoshi commented on #453
I like the idea. +1

[2018-07-10 05:00] smrdoshi commented on #452
That's a bug. It should not have any currency in header.
Please submit PR.

[2018-07-10 07:01] AlexHeylin commented on #436
@whitesparrowbd I think you've made a mistake I made when I first configured ASTPP by hand.  You've put the cron entries in /etc/crontab directly - but they're in the wrong format to go directly into the master crontab as it needs a username field too so they won't run.  I suggest moving them to /var/spool/cron/crontabs/astpp on Debian or /var/spool/cron/astpp on CentOS - or use the install.sh to

[2018-07-10 07:11] AlexHeylin commented on #361
I've found no problems using nginx, the web server is something that's never caused me an issue.  We're seeing a lot of projects move to nginx. It can certainly perform under load, so that shouldn't be a concern. If you have other things on the server which require apache, I think you can install them both - just disable the default website in nginx.

[2018-07-11 09:37] FozzyGo4 opened #455 "Dashboard call count and pie chart"
Hello,

I have picked up, what I think is an issue in 3.6 on the dashboard where the call count (Answered, failed) etc is counting the provider calls as well as customers / resellers. This gives an inaccurate count of calls and in a way it is a duplication. The provider and customers / reseller count should be separated.

I have modified the code in /astpp/application/modules/dashboard/model/dashb

[2018-07-12 07:03] smrdoshi commented on #455
Hi @FozzyGo4

That's not correct. You will get type = 3 in cdrs table when any provider has tried to make calls or send you calls.

Basically whoever making calls (Leg A), we capture that account type and insert into cdrs table as we consider they are the originator of the

If you will put type != 3 then it will start skipping of your interconnect provider cdrs as well DID cdrs, and that will make

[2018-07-12 07:03] #453 closed

[2018-07-12 07:08] #452 closed

[2018-07-12 07:12] smrdoshi commented on #450
Just tried the same thing on demo server and its working fine.
Please reconfirm and provide steps to reproduce the issue.

http://latest.astppbilling.org/

[2018-07-12 07:14] smrdoshi commented on #445
Closing this issue as we are going to merge PR #446 when you ready.

[2018-07-12 07:14] #445 closed

[2018-07-12 07:30] #435 closed

[2018-07-12 07:31] smrdoshi commented on #432
Hi @AlexHeylin

Does it work well?
If so, please send PR.

[2018-07-12 07:32] #419 closed

[2018-07-12 07:33] #326 closed

[2018-07-12 10:38] FozzyGo4 commented on #455
We are both half right. In the CDR table there are double entries for an inbound call. The same call with the same date time stamp has two records of type = 3. One is a DID and the other is a Local with disposition of STANDARD.

The dashboard currently counts 2 `count(uniqueid) as sum` calls but it is actually only 1 call. The query needs to only count the DID record I feel but correct me please i

[2018-07-12 13:45] AlexHeylin opened #456 "Invoice lines not created in order for multi-month subscription"
Sorry - opened on here, but should have opened on my own gitlab.

[2018-07-12 14:39] AlexHeylin commented on #456
Sorry - should have

[2018-07-12 14:39] #456 closed

[2018-07-12 19:08] leandronvoip commented on #443
Check this line of your pastebin:

2018-07-12 12:53:46.069113 [NOTICE] switch_cpp.cpp:1376 [ASTPP] Allocating static balance for package calls, Balance : 100, Credit limit : 200

You have Balance: 100

Put prepaid account and balance: 0 and try make a free call.

[2018-07-16 13:47] smrdoshi commented on #455
For DID calls, yes we are doing two entries of CDRs.
1st CDR with Provider ID (STANDARD)
2nd CDR with Customer ID (DID)

The reason for not merging both CDRs in dashboard is, both call records are associated with a different account and both records have billable seconds (However for providers you have the option to make chargeable to make it free using INB_FREE) and their charges.

If we will app

[2018-07-16 13:49] smrdoshi commented on #443
2018-07-12 12:53:46.069113 [INFO] switch_cpp.cpp:1376 [ASTPP] Remaining Sec : 50000
2018-07-12 12:53:46.069113 [NOTICE] switch_cpp.cpp:1376 [ASTPP] Actual Balance : 0
2018-07-12 12:53:46.069113 [NOTICE] switch_cpp.cpp:1376 [ASTPP] Allocating static balance for package calls, Balance : 100, Credit limit : 200

Check account balance is 0 and then system is allocating static balance as this is packag

[2018-07-16 19:16] FozzyGo4 commented on #455
Im not saying "do not capture two records". Im saying the call count is duplicated and is incorrect. Let me try and explain.
Caller calls via provider and this call is routed to ASTPP. ASTPP received the call and if there is a DID for this call, should route to the customer / reseller etc. Im sure you will agree that this is 1 call for x amount of seconds. Lets say it is for 60 seconds (1 minute).

[2018-07-19 07:40] smrdoshi commented on #455
I agree with your point. Dashboard logic requires a change to display 1
record for such cases.

We will work out on that.

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality6&>
Sender
notified by
Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality6&>
07/19/18,
1:07:07 PM

Best Regards
--
Sam

[2018-07-24 05:37] smrdoshi commented on #455
Hi @FozzyGo4

We changed code to make dashboard graph working. Here is the code,

[code]

Please replace this code in dashboard_model.php and check. If this works well then we will workout on other related reports.

[2018-07-24 06:19] FozzyGo4 commented on #455
I see, so you are excluding all calls with disposition of "DID" so the query is counting the actual calls. Good idea. I will make the changes and check from my side and give feedback.

[2018-07-25 11:04] AlexHeylin commented on #450
Hi @smrdoshi

I just checked again current v3.6 and I get the same thing.

Steps to reproduce:
Set post-paid customer account to credit limit 10, set customer balance to 20 (over credit limit), try to create DID -> Enter DID number, select provider -> select customer account, click save.  I get red warning triangle, with mouseover as shown. Setting Setup Fee & Monthly Fee to zero makes no differen

[2018-07-25 11:10] AlexHeylin commented on #450
http://latest.astppbilling.org/ is back now - so tested on there...  Create post-paid customer, set credit limit to 20, create DID with setup cost of 20 and assign to customer - this works, and customer is now at credit limit. Now try to assign them a DID with zero setup and monthly costs and it fails as above.

[2018-07-25 11:17] AlexHeylin commented on #450
http://latest.astppbilling.org/ is back now - so tested on there... Create post-paid customer, set credit limit to 20, create DID with setup cost of 20 and assign to customer - this works, and customer is now at credit limit. Change customer credit limit to 10 (to emulate CDR being invoiced to customer, taking them over credit limit). Now try to assign them a DID with zero setup and monthly costs

[2018-07-31 13:10] rgazetta opened #457 "Bug - SIP PROFILE"
BUG

Every time I create a new account or the client edits the SIP devices, the SIP PROFILE is left blank, it is only corrected if ADMIN edit and correct it.

[2018-07-31 13:16] rgazetta opened #458 "Permissions User"
Option to block the user from creating sip accounts.

Also option to lock so the user can not edit the sip account, or can just edit the password, choose which sip account fields he could edit or not.

[2018-08-01 17:44] leandronvoip commented on #443
Hi.

I test with a new account and works fine. Old accounts don't are working. Is possible the remaining seconds free don't are reset?

[2018-08-02 18:27] leandronvoip commented on #443
Hi.

I found the error.

If I use the translation number on account profile, the call don't complete. If I remove ,works fine.

You can try?

[2018-08-02 18:33] leandronvoip commented on #443
Another problem: Only new accounts are making free calls. Old accounts don't make free calls if don't have balance. Something are change in lasts commits on accounts?

[2018-08-02 18:45] leandronvoip commented on #443
Another issue detected: If account has some balance, the call don't complete. Example: Put 0.01 (less a minimum call) and test.

[2018-08-03 05:41] devangn commented on #457
@rgazetta
Please share the exact steps to reproduce this because I tried editing/creating the sip device from customer account but default sip-profile is assigned to them correctly.

[2018-08-03 11:34] rgazetta commented on #457
The client accesses the panel and edits the sip device.
As soon as it saves everything still works, however in the admin panel I can see that the sip profile field is blank.

Via admin, if edit and save again the sip profile returns to normal.

I edited the default language in the constants.php file, could this cause this failure?

/ *
  | | ------------------------------------------------ -------

[2018-08-07 14:19] leandronvoip opened #459 "Free Seconds Counters"
Hi,

I found the follow errors:

The customers has a free call package.

If the call for landline or mobile line, the counters will increase normally.

If the call is for a DID configured internal or to a another account, the counters will make double. Example: Call is 10 seconds to a DID, the counter table will register 20 seconds.

[2018-08-08 18:34] powerpbx opened #460 "JQuery version error"
Browsing to any page in the GUI results in the following jQuery errors when viewing Chrome or FireFox element inspection console view.

[code]

[2018-08-09 04:26] devangn commented on #459
Hello,

Well, that's because package is assigned to rate group and the DID call affecting to two accounts which are having same rate group with package. That's the reason its count 10 secs twice, once for both account, because you may have select 'Application For' 'Both' in package config.

[2018-08-09 17:01] leandronvoip commented on #459
Yes. Really this test I use both on packages. Are working. Can close the issue.

[2018-08-09 17:10] leandronvoip commented on #459
I put only outbound and check another error: the call don't complete how free call. Only complete if has balance.

Example:

Package has 60 seconds of free calls to prefix 55.
I put package with both (he work and debit double when calling a internal did number).
I put package with inbound (he work for internal did number)
I put package with outbound (he don't work for internal did number without b

[2018-08-11 05:00] Hemdip opened #461 "[ASTPP] invoice count not start as per configuration in company profile"
I have a quick question for you. I noticed the invoice count has 000 or 0000 before the number. For example, invoice 101 has INV_000101 or INV_0000101. I was expecting something like INV_101.

I though this was a problem and I started looking through the database and the php code in astpp/application/modules/invoices/ but I couldn't figure it out.

[2018-08-16 15:14] AlexHeylin commented on #460
I also see this issue.

[2018-08-16 15:16] AlexHeylin commented on #461
Are you running the latest version?  I saw similar issue in old version, but doesn't seem to be there in most recent few pulls.

[2018-08-20 09:35] AlexHeylin opened #462 "Discuss: Change CHAR to VARCHAR in routes & outbound_routes tables"
These tables get big quickly (71K rows per rate card for me), and account for 92% of my DB even after several months of live calls. In my testing, changing the CHAR columns to VARCHAR saves 41% of the space of both tables, that's currently 36% of my DB space saved. This seems inefficient, particularly if RAM is allocated to storing all those empty chars.

Are there any advantages to using CHAR tha

[2018-08-20 09:44] AlexHeylin commented on #462
While less of a problem for me, there is the potential for similar improvement in the accounts table.

[2018-08-21 19:41] marcozink opened #463 "Feature request - Disable customer from adding/editing their Caller Ids"
Hi, this ASTPP is a great tool, thank you for your work.

It would be great to be able to block users from adding or editing their Caller IDs. It would allow the admin to set the pool they can use and avoid the client to use an unauthorized number as their CID.

Thanks in advance!

Regards

[2018-08-26 10:45] smrdoshi commented on #462
That's true. We should change CHAR datatype to VARCHAR to save space and
improvements.
We noted that we will do require changes in table structure.

Best Regards
--
Samir Doshi
*iNextrix Technologie**s Pvt. Ltd*.
http://www.inextrix.com

*Disclaimer:*
The information contained in this communication is confidential and may be
legally privileged. It is intended solely for the use of the individual o

[2018-08-28 14:43] eduardofoliveira opened #464 "Changing Balance View in Email"
How can I change to have only 2 digits after the point in the balance warning.

For today the balance is displayed as follows: 40.35900

I need you to get it: 40.35

But only in balance warning emails

[2018-08-28 14:48] smrdoshi commented on #464
Its centralized in entire system. If you want to do it in balance warning
email only then you will need to do modification in code and if you want to
do it in entire system then check settings -> Global. You will find decimal
field.

Best Regards
--
Samir Doshi
*iNextrix Technologie**s Pvt. Ltd*.
http://www.inextrix.com

*Disclaimer:*
The information contained in this communication is confidential

[2018-08-28 21:26] #464 closed

[2018-08-28 21:26] eduardofoliveira commented on #464
Thank You @smrdoshi

[2018-08-31 09:30] John91000 opened #465 "BUG, AUTO VALUE 123 NOT GENERATED"
Hi

i use Centos 7

6 days it work, now 7 i got problem if i want create customer generating 123 and pin.
same problem if creating sip device 123, same problem when creating admins

Mass creating is work.

screenshot

https://imgur.com/a/gBKWEUq

[2018-08-31 13:03] smrdoshi commented on #465
Did you change any settings in Settings -> Global Or Settings -> Calling card?

There are parameters to set account number such as length, prefix, digits etc.

[2018-08-31 16:48] John91000 commented on #465
thank you, yes i did it back, now work!!!

[2018-09-04 12:07] John91000 opened #466 "Logs do not show the details of calls"
Why can not see the caller id? before that was good

https://cdn1.savepice.ru/uploads/2018/9/4/a9312dc66abbee7f49b9d47dea09f2c5-full.jpg

[2018-09-04 17:19] leandronvoip opened #467 "VoiceMail don't work on last update"
Hi,

I make a update now 04-09-18 and the voicemail stop of working. The call always drop.

[2018-09-04 19:33] AlexHeylin commented on #319
Do this in SQL.

[2018-09-05 08:36] AlexHeylin commented on #243
You could - set DIDs to zero cost and manually invoice once per year.

[2018-09-05 08:42] AlexHeylin commented on #460
This appears to be a duplicate of #170
https://github.com/iNextrix/ASTPP/issues/170

[2018-09-05 11:38] smrdoshi commented on #467
Do you have mod_voicemail module loaded in FreeSwitch?

If so then please provide call log.

[2018-09-05 11:40] dedayoa commented on #243
@AlexHeylin That my current process. Would be nice to have it all automated though. It will become problematic as users grow.

[2018-09-05 11:40] #243 closed

[2018-09-05 12:18] smrdoshi commented on #466
What do you mean by "before that was good?"

In which version was it working? and which version are you using at the moment?

[2018-09-05 12:28] #462 closed

[2018-09-05 12:33] smrdoshi commented on #460
That's right. Its duplicate of #170

Closing this bug.

[2018-09-05 12:33] #460 closed

[2018-09-05 17:41] John91000 commented on #466
3.6 it work good, but when edit sip devices id logs dont show callers

[2018-09-08 07:30] smrdoshi commented on #450
Tried again with the steps which you provided and it worked.

[2018-09-08 07:31] smrdoshi commented on #455
Hi @FozzyGo4

Did you check?

[2018-09-08 07:32] smrdoshi commented on #432
Hi @devangn

Please do needful to update to sql.

[2018-09-08 07:32] #361 closed

[2018-09-08 07:35] #436 closed

[2018-09-08 07:36] smrdoshi commented on #354
We are behind the schedule but targetting to release it before this year end.

[2018-09-08 07:41] #440 closed

[2018-09-08 07:42] smrdoshi commented on #439
Hi @pscomgr

Is your issue resolved?

[2018-09-08 07:45] #345 closed

[2018-09-08 07:47] smrdoshi commented on #358
Hi @devangn
Would you please check possibilities to use RPM in place of compiling FS in the installation? I assume with that, the installation process will be speed.

[2018-09-08 07:48] smrdoshi commented on #384
Hi @devangn

Please look at this point and do needful.

[2018-09-08 07:50] smrdoshi commented on #232
We have resolved that in last updates.
Please re-open it if you still facing this problem.

[2018-09-08 07:50] #232 closed

[2018-09-08 07:52] smrdoshi commented on #200
Duplicate of #170

[2018-09-08 07:52] #200 closed

[2018-09-08 08:01] smrdoshi commented on #347
This will not useful as rate group is linked to main account.

[2018-09-08 08:01] #347 closed

[2018-09-08 17:28] smrdoshi commented on #455
Alright. Thanks for the update.

On Sat, Sep 8, 2018, 1:52 PM Stephen Forster <notifications@github.com>
wrote:

[2018-09-10 19:51] rgazetta commented on #463
Feature request - Permissions User #458

[2018-09-19 09:54] leandronvoip commented on #443
Your test my last comment? New accounts with 0 balance the free call works, but if you add 0.01 of balance, the call don’t work.

[2018-10-13 19:15] FozzyGo4 commented on #455
Hi Samir,

Further to the fixes with the pie charts, I have optimised the speed of the query to MySQL by using temporary tables in the PHP code. I noticed that the query was putting a lot of stress on the MySQL DB. This is mostly because of MySQL and "order by descending" having to work with millions of records. By using a query to get only the records required into a temporary table and then runn

[2018-10-16 05:07] smrdoshi commented on #455
Yes please.

On Sun, Oct 14, 2018, 12:45 AM Stephen Forster <notifications@github.com>
wrote:

[2018-10-18 08:10] FozzyGo4 commented on #455
Herewith the modified code.

Top 10 customer minutes function
[code]

Top 10 customer call count function
[code]

The changes are to first get the data based on where clause into a temporary table and then run the order by, group by and and calculations on the temporary data. Shaves of many seconds and resources on my system.

Im sure you could probably optimise this even further and perhaps use t

[2018-10-26 17:34] luigialb commented on #253
i agree also Canada and USA. A MUST!

[2018-10-29 22:34] pscomgr commented on #439
Yes ,
thank you.
i modify DEFAULT CHARSET value for the responsible mysql tables which are default_templates and mail_details

[2018-10-29 22:38] pscomgr opened #470 "can't delete a name/value sip profile with space"
i add by mistake a setting with space in front %20 and now i can't delete it...

[2018-11-19 05:57] Hemdip commented on #470
@pscomgr , Will you please specify more details or steps to reproduce same.

[2018-11-19 06:51] pscomgr commented on #470
adding a value in default sip profile with space in front then i can't delete it from profile.

[2018-11-20 04:37] Hemdip commented on #470
Which version are you using?
As i have checked in V-3.6 it didn't allow me to add space when i add/create sip profile from UI (Frontend)

[2018-11-20 04:42] Hemdip commented on #467
Closing it, as it seems configuration issue and no update since very long.

[2018-11-20 04:42] #467 closed

[2018-11-20 04:44] Hemdip commented on #466
Closing it, as it seems softphone issue and no update since very long.

[2018-11-20 04:44] #466 closed

[2018-11-20 08:56] leandronvoip commented on #467
Hi. Samir check this error on google groups and fix it. Will commit ir?

[2018-11-21 06:47] pscomgr commented on #470
3.6 , but i did copy , paste and it let me do it.

[2018-11-21 10:01] alexmed commented on #330
have exactly the same problem (Quick install scripts for ASTPP 3.6 and 3.5) , multiple times tried on AWS with clean images of Centos7 Debian8 and on other VPS providers - no luck, console shows lot of errors executing commands like "git, chkconfig..."... etc, install finishes very fast with "Success" message.

Have no way (and acutally no reason) of installing Debian with Desktop on VPS to have s

[2018-11-21 10:45] Hemdip commented on #470
Please do and share your result. Either image/video to get clear idea

[2018-11-22 03:01] tcreek commented on #330
It is odd they do not include notes like this in the docs (requirements for the script). After many tried on virtual machines, ASTPP will not successfully install on Debian 8 without those three  items selected to install. So technically the script is still broken so I am not sure why this was closed out.

You can install it to a VPS if, and only if, you have access to the console. However, there

[2018-11-23 07:17] devangn commented on #457
@rgazetta We have checked creating sip device under customer account and then checked the same device's configuration from admin account, the sip profile seem to assign correctly.
We are checking with v3.6.
If you find our regeneration step not same as yours or if you want to share screen shot, please share them.

[2018-11-23 10:49] rgazetta commented on #457
@devangn
The client accesses the panel and edits the sip device.
As soon as it saves everything still works, however in the admin panel I can see that the sip profile field is blank.

Via admin, if edit and save again the sip profile returns to normal.

[2018-12-07 06:48] eduardofoliveira opened #473 "SIP-DID return USER_NOT_REGISTERED, but DID-local is working"
Good night,

I updated ASTPP but I have a problem:

Recently all calls that are with the DID set to call-type SIP-DID are returning USER_NOT_REGISTERED.

When we test as DID-Local the call is received by the PBX normally.

But this way I can not determine which DID this call belongs to.

How can we find the error in this case?

Regards,

Eduardo.

[2018-12-07 06:54] eduardofoliveira commented on #473
![did-config](https://user-images.githubusercontent.com/20446658/49632225-1679c300-f9dc-11e8-8b98-18da2f157ace.png)

My current configuration is according to the image above, where one works and the other does not.

[2018-12-07 11:32] smrdoshi commented on #473
Hi,

Provide your call fs_cli log for SIP-DID.
Also, run the following command in fs_cli and give its output

Thanks,

Samir Doshi

iNextrix Technologies Pvt. Ltd.

https://www.inextrix.com

https://www.astppbilling.org

Disclaimer:

The information contained in this communication is confidential and may be
legally privileged. It is intended solely for the use of the individual or
entity to whom i

[2018-12-07 12:34] rgazetta opened #474 "BUG - DID Balance"
Hi,

I have configured DID successfully in ASTPP 3.6
But issue is with out any balance in customer getting incoming calls. There is no blockage for incoming  in 0 balance account. Also included seconds is over but getting calls randomly.
Can you please tell me where is the issue , where i have miss configured.

Forum
https://groups.google.com/forum/#!topic/astpp/QxNtocm7jm0

[2018-12-07 13:48] eltonbahiabc commented on #473
no log conta que o ramal não está registrado.
Rode o comando show registrations on CLI do freeswitch e verifica se ele contra-se conectado na lista.

[2018-12-07 14:06] eduardofoliveira commented on #473
Esta registrado, tem sessão:

Call-ID:        242dcda0a4664de2b45583e12ea7dc10
User:           TSingular@172.31.6.59
Contact:        "TSingular" <sip:TSingular@192.168.4.10:64491;ob;fs_nat=yes;fs_path=sip%3ATSingular%40177.189.208.91%3A64491%3Bob>
Agent:          MicroSIP/3.19.7
Status:         Registered(UDP-NAT)(unknown) EXP(2018-12-07 12:07:02) EXPSECS(110)
Ping-Status:    Reachable
Ping-Time:

[2018-12-07 16:58] eduardofoliveira commented on #473
Hi Samir

I found what was causing the problem.

![sip profiles](https://user-images.githubusercontent.com/20446658/49661560-82861680-fa30-11e8-8b11-38db0ce0f5fb.png)

I had two profiles enabled.

When I disabled the profile that was not in use and stopped it, the SIP-DID calls started again.

Regards,

Eduardo.

[2018-12-10 13:02] smrdoshi commented on #473
Ok Great.

Thanks,

Samir Doshi

iNextrix Technologies Pvt. Ltd.

https://www.inextrix.com

https://www.astppbilling.org

Disclaimer:

The information contained in this communication is confidential and may be
legally privileged. It is intended solely for the use of the individual or
entity to whom it is addressed and others authorized to receive it. If you
are not the intended recipient you are h

[2018-12-10 18:39] #473 closed

[2018-12-12 13:47] John91000 opened #475 "Voice changes"
You can add additional features, it would be cool

For example voice level customers?

0 1 2 3 4 5 pitch

[2018-12-13 17:45] leandronvoip opened #476 "DID with per minute rate don't blocked with negative balance"
Hi.

According the post in google group, when you have a DID with per minute rate and have balance = 0 or negative, you continue receive calls and the credit go to negative.

Example:

I have a DID with cost $1 per minute.
My balance is $0.50
I receive a call with 2 minutes.
My balance go to -$1.50
I receive another call with 1 minute.
My balance go to -$2.50

https://groups.google.com/forum/?utm_

[2018-12-19 14:58] akakiz opened #477 "bug: SIP Device creation"
ASTPP 3.6, in GUI, on customer and/or provider creation, even I choose "Create SIP Device" : "No" - It's creates a new sip device for that customer/provider.

[2018-12-19 15:07] akakiz opened #478 "Feature Request - Different Packages for Different Customers"
It's will be good if integrate in customer profile instead of Rate Group - Package.

I'll explain:
For example I have 30000 international destinations with different originating rates, about 100 domestic destinations.
several customers have different rate politics, name as Package.

For example I have same rate politics to international destinations for all customers, but different rates for domes

[2018-12-24 04:39] devangn commented on #475
@John91000 How exactly you picture it working?

[2018-12-24 04:58] devangn commented on #457
@rgazetta We have tried creating new account and checked the sip devices configs, they seem fine.
We have created new sip device from admin portal and tried editing from client portal; and checked configs in admin portal, they seem fine.
We have created new sip device from client portal and tried editing from client portal and checked them from admin portal, they seem fine.

Can you please elabora

[2018-12-30 15:38] John91000 commented on #475
In customer portal add function seesion voice,  anyway freeswitch have it
https://freeswitch.org/confluence/display/FREESWITCH/mod_soundtouch

So easy add in astpp.

[2019-01-02 13:22] voztovoice opened #479 "Feature Request - Changing notification system"
Hello,
Currently ASTPP sends notifications related to the low credit, according to the predefined cron configuration, once per day. The idea is to change the cron configuration and the code so that it checks more often but does not send the notification to the same client more than once per day.
Thank you.

[2019-01-12 02:31] glipschitz opened #480 "Feature Request - Change Hierarchy of Rating"
Hi ASTPP Gurus!

We have been doing a proof of concept for ASTPP and have found a few shortcomings which I think would be easily resolved but also enhance the product for everyone.

I believe that the billing hierarchy currently is flawed in that only one rate card can be applied per customer. That is, if a customer has 100 DID's, you cannot have 20 DID's on Rate Card A, 50 DID's on Rate Card B, a

[2019-01-14 16:46] rgazetta commented on #474
Hello,

This BUG procures another failure, the connections are terminated without any reason, but if you remove the minute value registered in the number, the call works normally without any drops, would it be possible to verify this urgently?

[2019-01-14 16:49] rgazetta commented on #474
This problem https://groups.google.com/forum/#!topic/astpp/HmMvFVPYQiw is this BUG

[2019-01-14 19:13] AlexHeylin opened #481 "Some invoice items assigned to wrong invoices and customers (invoice_details.accountid != invoices.accountid) for post pay DIDCHRG & SUBCHRG"
I have found we have some invoices where the invoices are wrong and contain items that should have been billed to other customers.

These items are easy to find by running this query
[code]
If any rows are returned, those are rows that have been added to the wrong invoice & customer.

See attached image.
![invoice screwup](https://user-images.githubusercontent.com/270973/51134314-1963a100-182f-11e

[2019-01-14 19:37] John91000 opened #482 "no issuse, two ip!"
Hi

I can two ip in sip profile? i dont want add new sip profile, want add two in 1 sip profile

Screenshote
https://imgur.com/Od9qiPH

[2019-01-14 21:38] AlexHeylin commented on #482
Not as far as I know

[2019-01-15 07:48] devangn commented on #482
@John91000 this is not possible, for new interface/ip you need to create new profile

[2019-01-15 07:48] #482 closed

[2019-01-15 07:53] devangn commented on #479
@voztovoice Not more often we get this request so we may not plan to add it soon, but thanks for the suggestion; if you add it on your own please send merge request.

[2019-01-15 07:53] #479 closed

[2019-01-17 13:42] mehoffnm opened #483 "Call Overage is negative balance to customer, but invoice is positive"
Please see the screenshot.  The negative balance is caused by call minute charges and the positive balance is created by subscription invoices.  I think the values should be all positive or all negative and not a mix of the 2.

![image](https://user-images.githubusercontent.com/30664365/51322606-df172100-1a33-11e9-965e-3bc910986330.png)

[2019-01-18 16:13] alexmed commented on #330
i beg a pardon, probably i did smth wrong before, on my recent try the quick-install script worked flawlessly. here are the steps in case this may help someone:

- aws lightsail, OS only, debian 8.7
- attached static IP
- this https://astpp.readthedocs.io/en/v3.6/Installation/quick_installation.html
each quick install command prefixed with sudo (not sure if is important, probably)
- keep in mind t

[2019-01-19 15:01] pscomgr commented on #463
Hi ,
a little bit of help for now...

[Web interface user changes.txt](https://github.com/iNextrix/ASTPP/files/2775629/Web.interface.user.changes.txt)
[disable user create sip account .txt](https://github.com/iNextrix/ASTPP/files/2775631/disable.user.create.sip.account.txt)

Kind Regards

[2019-01-19 15:04] #439 closed

[2019-01-22 18:31] pscomgr commented on #470
![sip-profile4](https://user-images.githubusercontent.com/38977346/51557111-aa1c2b80-1e84-11e9-8997-4c899f20172b.png)

[2019-01-23 06:59] ChaudharyG opened #484 "Inbound Billing issue"
Dear Team,

We are facing an issue to bill inbound call. inbound call cost is showing : 0.00.

Below is the log

2019-01-23 12:23:22.395294 [DEBUG] switch_core_media.c:4449 Audio Codec Compare [PCMU:0:8000:20:64000:1]/[PCMA:8:8000:20:64000:1]
2019-01-23 12:23:22.395294 [DEBUG] switch_core_media.c:4449 Audio Codec Compare [PCMU:0:8000:20:64000:1]/[PCMU:0:8000:20:64000:1]
2019-01-23 12:23:22.395294

[2019-01-28 05:13] glipschitz commented on #480
Hi @devangn - I have sent you an email to your registered email address but have not had a response. Can you please advise if you have not received it. Thanks.

[2019-01-31 21:44] eduardofoliveira opened #485 "Problem using CPS"
Good afternoon,

Whenever I use the CPS fields of the account or Trunk the calls stop completing.

In the freeswitch log I found this error:

2019-01-31 19: 39: 47.308430 [DEBUG] switch_limit.c: 43 Unable to locate limit backend: hash
2019-01-31 19: 39: 47.308430 [ERR] switch_limit.c: 122 Limit subsystem hash not found!

Do I need to enable anything to use the feature?

Regards,

Eduardo.

https:/

[2019-02-02 16:33] spchester commented on #484
I believe we have this same issue. The cost for inbound calls doesn't seem to be accounted for. Really messes up accounting.

[2019-02-04 20:09] spchester opened #486 "Feature Request - Test/Debug Routing LCR/Cost"
Unless I'm just missing it, I don't see a way to test the routing for an outbound call without making a call. I'd like to be able to type in a number and then see the logic that astpp is using to route the call. Ideally it would show matching termination rates, including possible alternative rates, and the provider that the call would be sent out.

[2019-02-12 19:12] volga629 opened #487 "Opensips Accounts"
Hello Everyone,
We tried configure accounts/subscribers for opensips, but getting error 500
Release 3.6 official build.

![astpp-opensips](https://user-images.githubusercontent.com/3235221/52661479-8aeb4980-2ed8-11e9-8028-89c5165fae83.png)

[2019-02-12 19:14] volga629 commented on #487
Nginx log

[code]

[2019-02-13 01:43] John91000 opened #488 "No issuse, caller number cmd"
Hello

Possible change caller number in local cmd?
example call to did for change number?  or
*1111*callernumber*
or *1111*callnumber#

[2019-02-14 06:00] dev-astpp commented on #487
There may be below the possibility
 1. database connection is not working from the astpp server to opensips server
 2. opensips database information you should have to set Configuration->Settings->opensips.

Please check and confirm, If it works please close this issue

[2019-02-14 18:52] volga629 commented on #487
Thank you for reply, we validated that credentials are set correctly in web interface

[2019-02-15 13:39] devangn commented on #488
@John91000
Do you mean number translation,
https://www.youtube.com/watch?v=KjO2sIqvCBY

[2019-02-15 13:48] devangn commented on #486
@spchester
Yes, rate simulator is there in the list. May not be added sometime soon but thanks.

[2019-02-15 13:48] #486 closed

[2019-02-15 13:53] devangn commented on #485
@eduardofoliveira
Please, check mod_hash is loaded in FS or not.

[2019-02-15 14:13] eduardofoliveira commented on #485
@devangn
Thanks for the help, the module is disabled.
I'll enable and start the tests.

[2019-02-18 07:27] volga629 commented on #487
Is possible check on code level ? Has to be some issue

[2019-02-18 17:17] AlexHeylin commented on #481
After some more investigation it seems invoices.accountid is often wrong for DIDCHRG & SUBCHRG.  In my data it's wrong 36% of the time, and this problem has been happening since the system was installed.   These entries also have the wrong value is invoice_details.invoiceid with items for multiple customers all having the same value for invoice_details.invoiceid.

The PDF of the invoice is also wr

[2019-02-18 17:22] AlexHeylin commented on #481
invoice_details.accountid IS correct for these entries.

[2019-02-18 17:39] AlexHeylin opened #489 "Bug: Searching for invoices doesn't work - browser console shows 500 error from server, GUI"
May (or may not) be related to #170
Search calls a URL for JSON which returns 500 internal server error and no content.
GUI shows "Processing, please wait ..." forever - so timeout / error trapping is not good either.

For example, searching for invoice numbers starting with "T011" calls this URL
[code]

Which I notice doesn't contain the search term. I cannot load this directly from browser.

If

[2019-02-19 01:43] #488 closed

[2019-02-21 15:35] watoan commented on #241
I faced the same here, running 3.6 with debian 8
After select the csv file and click Import, blank page, no error shown even turned on dispay_errors from php.ini, no error in nginx log
Please help, thanks.

Location: /rates/termination_rate_import_mapper/

[2019-02-21 15:37] watoan opened #490 "Blank page "Import Termination Rates Using Field Mapper""
Refer to https://github.com/iNextrix/ASTPP/issues/241

Please help, thanks.

[2019-02-21 15:43] watoan commented on #490
Sorry, I figured it out myself.
I found mbstring is not installed, after doing the following, everything ok now.

apt-get install php7.0-mbstring
phpenmod mbstring
service nginx restart

Thanks.

[2019-02-21 15:43] #490 closed

[2019-02-22 13:53] malufett commented on #487
I confirmed this...
isn't there should be a check for the query result before getting the row count?
![image](https://user-images.githubusercontent.com/3251821/53246635-40f42780-367f-11e9-9b74-10b62147708a.png)

[2019-02-23 00:55] kristapsdravnieks commented on #241
do
cd /usr/src/ASTPP
chmod +x update.sh
./update.sh

If there you have skipped any step for setting folder permission or something, update script will fix it for you.

[2019-03-01 01:47] #485 closed

[2019-03-02 00:45] John91000 opened #491 "rate from callerid to rate"
Hi

Is it possible to set certain rates?
example
calls to +180001212012 the 0.5 $
but if calls from prefix +304878012 to +1800012485  0.8 $

Possible??

[2019-03-06 14:31] drenda opened #492 "Install ASTTP 3.6 from scratch on Debian 8 results in a blank page"
Hi,
I installed ASTTP 3.6 from scratch using the installer. The installation process worked fine but when I access to the ip:8089 port I see a blank page.

Furthemore I see there isn't a ASTTP database in Mysql.

What's wrong? Thanks

[2019-03-07 03:05] John91000 commented on #491
can somone answer us?

[2019-03-07 10:47] smrdoshi commented on #491
Nope. ASTPP does not have that feature. It will calculate based on
destination number only.

Thanks,

Samir Doshi

iNextrix Technologies Pvt. Ltd.

https://www.inextrix.com

https://www.astppbilling.org

Disclaimer:

The information contained in this communication is confidential and may be
legally privileged. It is intended solely for the use of the individual or
entity to whom it is addressed an

[2019-03-07 10:49] smrdoshi commented on #492
Check if nginx service up or not. If up and still page is not loading then
check nginx logs.

Thanks,

Samir Doshi

iNextrix Technologies Pvt. Ltd.

https://www.inextrix.com

https://www.astppbilling.org

Disclaimer:

The information contained in this communication is confidential and may be
legally privileged. It is intended solely for the use of the individual or
entity to whom it is addressed a

[2019-03-07 13:03] drenda commented on #492
Nginx is working. Trying to access to http://mydomain.com:8089/index.php I've this error:

`2019/03/07 14:00:30 [error] 7369#7369: *12 FastCGI sent in stderr: "Primary script unknown" while reading response header from upstream, client: 95.255.117.252, server: _, request: "GET /asttp/index.php HTTP/1.1", upstream: "fastcgi://unix:/var/run/php/php7.0-fpm.sock:", host: "voip2.mydomain.com:8089"
2019

[2019-03-08 04:34] smrdoshi commented on #492
@Kavin Chauhan <kavin.chauhan@inextrix.com>

Please have a look.

Thanks,

Samir Doshi

iNextrix Technologies Pvt. Ltd.

https://www.inextrix.com

https://www.astppbilling.org

Disclaimer:

The information contained in this communication is confidential and may be
legally privileged. It is intended solely for the use of the individual or
entity to whom it is addressed and others authorized to rece

[2019-03-12 17:47] devangn commented on #492
@drenda
1. check open_short_tag in php.ini under fpm, it should be set to On

2. check DB connection in /var/lib/astpp/astpp-config.conf
confirm they are correct by connecting mysql from linux terminal using the exact same username, password, hostname and database name.

mysql -h<same_host_as_script> -u<same_unm_as_script> -p <same_db_name_as_script>

Is it connecting?

[2019-03-12 17:53] devangn commented on #457
Closing issue because of no activity since days.

[2019-03-12 17:53] #457 closed

[2019-03-12 18:00] devangn commented on #470
@pscomgr Is there any customer sip parameter are you using?

[2019-03-12 21:44] drenda commented on #492
Hi,

1. short_open_tag is set to Off
2. about the db, like I said, I'm able to connect to Mysql but there isn't
the astpp database

I think there is something wrong in the script because I did a scratch
installation 2 times with the same result.

Il giorno mar 12 mar 2019 alle ore 18:47 Devang Nathwani <
notifications@github.com> ha scritto:

--
Daniele Renda

[2019-03-15 08:58] drenda commented on #492
Any news about that? I'm not able to install ASTPP from the installer.

[2019-03-20 19:33] tridcatij commented on #492
Same issue with Centos 7

[2019-03-26 14:31] aztrock commented on #492
Same issue debian 8.

[2019-03-27 00:32] spchester opened #493 "Can't Search Termination Rates for Is Equal To"
<img width="526" alt="Screen Shot 2019-03-26 at 5 32 04 PM" src="https://user-images.githubusercontent.com/47045934/55042075-3960cf00-4fed-11e9-984e-6dd7191fc410.png">
<img width="543" alt="Screen Shot 2019-03-26 at 5 31 54 PM" src="https://user-images.githubusercontent.com/47045934/55042082-3cf45600-4fed-11e9-8b21-4c89f23783a8.png">

I believe this was also an issue in 3.0, but you can’t seem to

[2019-03-28 06:45] watoan opened #494 ""DESTINATION_OUT_OF_ORDER" records not showing in Web UI"
I have total 41 records in "cdrs" table, Customer CDRs view are showing 18, and Provider CDRs view are showing 18, then I found the remain 5 of them in DB are not showing in Web UI, and all of them with disposition = 'DESTINATION_OUT_OF_ORDER [27]'

I am logged in the Web UI with admin account, and there is no special criteria when I search the CDRs, only date range and leave others blank.

I trie

[2019-03-30 11:32] Hemdip commented on #493
Verified and It will be fixed in upcoming version

[2019-03-30 11:34] Hemdip commented on #494
@watoan
Can you please verify this thing : in your cdrs run this query select * from cdrs where accountid=0; and share your result

[2019-04-02 03:57] watoan commented on #494
@Hemdip
Sorry for delay, Just ran the query, I got total 23 result (those 5 records with "DESTINATION_OUT_OF_ORDER" included).
However, those 5 records are not showing in the web.

[2019-04-03 05:20] Hemdip commented on #494
@watoan ,

Thanks, Got your point. It will be fixed in upcoming version release.

[2019-04-11 09:39] Hemdip commented on #484
@ChaudharyG / @spchester will you please explain your problem in more detail, to reproduce this.

Like what you have configured in DID, Rategroup, etc or you can share steps to reproduce same

[2019-04-15 17:37] meshtask commented on #14
Hi,
I am having same issue with ASTPP 3.6 fresh install.
when inbound-bypass-media=true for g729 passthrough,
calls disappear from ASTPP Live Call Reports.
Any solution please?

[2019-04-19 17:11] Madji opened #498 "CDR report is not displayed correctly."
Call Report -> Detail Report-> Customer.
In the Debit and Cost columns, NaN is displayed. In the user interface in the reports everything is set down normally. An example of the screen.
![IMG_20190419_200345](https://user-images.githubusercontent.com/2238714/56435306-af044600-62e0-11e9-8d8d-09a1167d253b.jpg)

[2019-04-19 22:09] Madji opened #499 "Error delete default provider"
after removing the default provider, it is not removed from mysql.

[2019-04-19 22:12] Madji commented on #498
This becomes possible if you use a currency other than usd.

[2019-04-19 22:13] Madji opened #500 "Error add currency"
Unable to add
Russian ruble. After the addition, it breaks all that is possible. The value is written to mysq, but not displayed in webui.

[2019-04-21 18:27] tcreek commented on #492
The install script is bugged, and has been bugged for a long time. It will 100% fail on both CentOS 7 and Debian 8 if you just following their "guide" is is basically just saying to run it. I have tried it many times in the past couple of years, and it always fails when trying to install on minimal installs.

With some changes on the installation on a local machine, I was able to successfully get

[2019-04-29 13:23] Hemdip commented on #499
@Madji , Its feature or behaviour of ASTPP, we only soft delete all accounts not only provider

[2019-04-29 13:24] Hemdip commented on #500
@Madji ,

Can you please provide steps and screenshot/video to reproduce this issue

[2019-04-30 00:00] tcreek commented on #492
This really needs to be changed to BUG. It's not a discussion.

[2019-05-09 08:06] Hemdip commented on #499
No update after long days. So closing this because its not bug

[2019-05-09 08:06] #499 closed

[2019-05-09 08:07] Hemdip commented on #500
@Madji Can you please share steps?

[2019-05-13 17:33] aparajey opened #501 "Prepay to Post pay"
cant change customer account type from prepay to postpay once account is created. i have to change it from database to convert running customer from prepay to postpay

[2019-05-21 02:37] smrdoshi commented on #501
Yes, we are not allowing to change it once account has been created. If you
do it after creating account then it will mess up the billing process.

Thanks,

Samir Doshi

iNextrix Technologies Pvt. Ltd.

https://www.inextrix.com

https://www.astppbilling.org

Disclaimer:

The information contained in this communication is confidential and may be
legally privileged. It is intended solely for the use

[2019-05-24 09:44] aparajey commented on #501
i have installed ASTPP with multiple freeswitch everything working fine but live calls are not showing in ASTPP UI, i did allowed 0.0.0.0 in even_socket.conf.xml and result are same also ASTPP is not able to send emails to customers below is astpp_email.log

Your message has been successfully sent using the following protocol: mail<br />Date : May 18, 2019, 4:43 pm
 From :helpdesk@incorpus.in
 To

[2019-05-27 20:14] WireFr33 opened #502 "mcrypt deprecated in php7.2"
I've installed ASTPP on a system with php 7.2.
I get a blank page after installation.
In astpp/index.php I uncommented the line with 'ini_set('display_errors','on');' and changed the ENVIRONMENT to 'development'

I get the following errors when I call the URL:
--------------
<h4>A PHP Error was encountered</h4>

<p>Severity: 8192</p>
<p>Message:  Function mcrypt_get_iv_size() is deprecated</p>
<p>

[2019-05-28 20:15] aparajey opened #503 "Invoice Generation error ASTPP4.0"
when clicking on confirm in manual Invoice generation ASTPP 4.0 gives Database error.

![Screenshot 2019-05-29 at 1 42 17 AM](https://user-images.githubusercontent.com/23430485/58509120-6a0ee180-81b3-11e9-9f1f-8be452e0fcf9.png)

[2019-05-28 20:32] georgygoshin commented on #175
Unfortunately, this was not changed even in 4.0

[2019-05-29 05:52] hardikinextrix commented on #501
To generate live call report data you  must have to add Freeswitch server details.

Please confirm the details for Freeswitch server, you have added on ASTPP GUI it must be correct.

[2019-05-29 05:52] #501 closed

[2019-05-29 05:56] hardikinextrix commented on #498
Hi Madji

As we have launched new version of ASTPP 4.0 Please confirm the problem has been resolved in new release.

[2019-05-29 05:56] #498 closed

[2019-05-29 06:53] Hemdip commented on #502
@WireFr33 Which version of ASTPP you have installed? If ASTPP 4.0 then it require php version 7.3

[2019-05-29 07:38] aparajey commented on #501
yes it is correct as i said CDR are is generating fine customer is getting billed fine it is just that on live calls its nothing.

![Screenshot 2019-05-29 at 1 06 10 PM](https://user-images.githubusercontent.com/23430485/58538408-b9d0c580-8212-11e9-8a20-f323ddb5b36f.png)

[2019-05-29 09:43] hardikinextrix commented on #477
Hi akakiz

This issue has been fixed in new release.

[2019-05-29 09:43] #477 closed

[2019-05-29 09:57] hardikinextrix commented on #170
We have upgrade Bootstrap and Jquery version on new release.

[2019-05-29 09:57] #170 closed

[2019-05-30 05:43] Hemdip commented on #503
@aparajey , Are you using centos? If yes then will you please restart mysql service and check same.

[2019-05-30 14:40] plettonline opened #504 "Column width on DID view page"
The containing columns which display the list of DIDs seem to have too much padding on the right-hand side causing the DIDs to wrap over 2 lines...

[2019-05-30 16:35] baloeng opened #505 "Signup - Captcha Does Not Display ASTPP 4.0"
Hello All,

Still exploring the new version. Awesome work by the ASTPP team.

On the signup page, the Captcha does not display, hence, new customer cannot register.

[2019-05-30 21:00] Madji opened #506 "It's more of a question than an issue."
Hello, I can not understand the meaning of the possibility of adding a translation. when you create a user account, you cannot select a translation . Am I looking in the wrong place? Maybe I don't understand. Thanks

![изображение](https://user-images.githubusercontent.com/2238714/58664015-70799680-8336-11e9-82d3-03255f48cfc6.png)

[2019-05-31 05:38] plettonline commented on #506
From what I can see,
You now need to create the Localization first under 👍
Switch --> Localizations

Thereafter, you can assign it where you need to...

[2019-05-31 05:39] plettonline commented on #506
What would be nice is a way to create a default Localization for new accounts... something that is preselected for all new accounts...

[2019-05-31 06:16] Madji commented on #506
It's not working. language created, updated. translation added. when you select a language from the bottom of the drop-down list. the page is simply updated and that's it. language is English

[2019-05-31 10:44] Hemdip commented on #504
@plettonline Yea it's minor UI issue on that team will work

[2019-05-31 11:05] meshtask commented on #505
Same issue. I cannot see Captcha at signup page after installation. No captcha stting is present in ASTPP Settings page too.

[2019-05-31 11:08] meshtask opened #507 "Call Recordings Not Displaying in CDRs"
Calls are being recorded properly and i can see the recordings in folder /var/lib/freeswitch/recordings
But in CDRs I only see 2 red X in Call Recordings Column.

[2019-05-31 13:46] plettonline opened #508 "Selling price of DID under reseller"
Main admin account set DID selling price at a monthly cost of $X.
The reseller purchases DID for $X.
Reseller sets selling price to $Y.

ERROR --> Resellers customer gets charged $X instead of $Y when purchasing DID.
The same issue occurs with subreseller as well as its customers.

I tested the method when logged into the main admin account and used "quick logins" to resellers and customers to mak

[2019-05-31 16:43] baloeng opened #509 "Fail2ban Missing in v4.0"
Hello,

After successful installation of v4.0, I noticed the fail2ban is missing in /etc directory even though the package is installed.

I went through the install script and I noticed the following;
`wget --no-check-certificate https://latest.astppbilling.org/fail2ban_Cent.tar.gz
 tar xzvf fail2ban_Cent7.tar.gz
 rm -rf /etc/fail2ban
 cp -rf /usr/src/fail2ban /etc/fail2ban`

The problem here is t

[2019-06-03 07:24] Hemdip commented on #507
@meshtask Please verify that folder is having 755 permission if not then give and check once

[2019-06-03 08:18] Hemdip commented on #508
@plettonline
Your reseller is distributor? If yes then only $Y price apply else it will apply $X price.

You can share screenshot or small video to get clear idea about your issue.

[2019-06-03 08:20] Hemdip commented on #506
@Madji You can set global localization for your customer from Configuration > Settings > Signup

[2019-06-03 08:25] meshtask commented on #507
Changed the permission of the call recordings folder. Problem solved with this. Now I can see call recordings audio files link in CDRs. Thanks

[2019-06-03 08:36] watoan opened #510 "ASTPP 4.0 Currencies update failed"
After pressed the "Update Currencies" button, the page refreshed and prompted "Currency exchange rates successfully updated.", then it keeps showing "Processing, please wait ...".

If you manually refresh the page, you may see the currencies are not updated, their rate still the same.

[2019-06-03 09:30] plettonline commented on #508
Hi there,

This is for a Reseller (not a distributor)

1. Main account account sets price of DID at 10.00
2. Main account creates RESELLER
3. Reseller purchases DID from main accoutn at 10.00
4. Reseller sets selling price of DID as 25.00
5. Reseller creates customer
6. Reseller Customer purchases DID from Reseller
7. Reseller Customer gets charged 10.00

The problem is that Reseller customer shou

[2019-06-03 10:00] plettonline opened #511 "Visual | GUI | Spelling of recurring on web interface"
The spelling of recurring on GUI is "reccuring"... This should be "recurring"

Have noted this on "Inbound --> DID" ---- Billing type

[2019-06-03 10:36] plettonline commented on #508
I think i follow the logic now....
In addition to the role flag, there is also a "Is distributor" flag...
I see that this was set...

If I try and change "Is distributor" to "NO", i get the following error :
An Error Was Encountered
Call to a member function build_charges_list_for_customer() on null

[2019-06-03 10:43] plettonline commented on #508
I thnk i will raise the above as a new "issue" as it seems to be consistent.

[2019-06-03 10:45] plettonline opened #512 "Changing reseller from Distributor to Not distributor creates error"
If a newly created reseller is created with "Is Distributor" flag enabled,  when trying to change it to "No", the following error occurs and it is not possible :

An Error Was Encountered
Call to a member function build_charges_list_for_customer() on null

[2019-06-03 11:34] plettonline commented on #508
Hi,

I have recreated the error on your demo version of ASTPP 4... (http://latest.astppbilling.org)

https://www.loom.com/share/c06ffa41b74a4d8aac6723e10741eeda

[2019-06-03 11:44] Madji commented on #506
Thanks.

[2019-06-03 11:44] #506 closed

[2019-06-04 11:31] Hemdip commented on #511
@plettonline thank for reporting, It will be fix in future.

[2019-06-04 11:41] Hemdip commented on #512
@plettonline , I tried same way which you have mention above but unfortunately it not reproduce.

Will you share screenshot or more detail steps to rectify this issue.

[2019-06-05 08:07] tridcatij opened #513 "Missing fields in trunks. v.4.0"
Hey, in v.3 there were number and callerId translation fields for trunks. I cannot find it in v.4. There are fields in the DB though.

ASTPP 3.6
![image](https://user-images.githubusercontent.com/4353590/58940494-4256e500-8782-11e9-8b4a-a8168c4d1dbc.png)

ASTPP 4.0
![image](https://user-images.githubusercontent.com/4353590/58940458-2c492480-8782-11e9-824f-5901c887bd67.png)

[2019-06-05 09:27] plettonline commented on #508
Have you managed to confirm this on your end as yet?

[2019-06-05 12:08] Hemdip commented on #513
You can do that in 4.0, We have introduce Localization concept
Switch > Localization here you have to set rules and Give it to your Provider from Accounts module, It will work same as 3.6

[2019-06-05 12:51] tridcatij commented on #513
Could you please give an example? In my case, I have 5 trunks for one account. For each of them I need different callerid number translation. Prefixes are not related to the destinations in my case. We're splitting different price/quality strategies with it.

[2019-06-06 03:48] watoan opened #514 "ASTPP 4.0 listen on port 443 instead of 8089 now?"
https://github.com/iNextrix/ASTPP/blob/v4.0/web_interface/nginx/deb_astpp.conf
It is set to 443 now instead of 8089

But in https://raw.githubusercontent.com/iNextrix/ASTPP/v4.0/install.sh
it still pointing to 8089 for astpp-config.conf
This will caused error when someone install using the script install.sh above

[2019-06-06 04:02] watoan commented on #513
Yup, I am having the similar issue with 4.0 for DNIS.
In case I have 2 trunks of 1 provider account, it's used to separate different level of routing, previously I can do it in "Trunks" - prepend prefix, but in 4.0, seems I can have only 1 localization setting for 1 provider account, could you please advise how can I prepend tech prefix for 2 different trunks of same provider account?
Should I do

[2019-06-07 06:42] Hemdip commented on #513
Not sure about your scenario, But i have one suggestion for you,

In your provider's Rategroup you can select your those 2 trunk, might be it work for you.

[2019-06-07 13:46] lvpopov opened #516 "Can not select file to import in Database Backup in v.4.0"
Configuration-> Database Backup -> Import -> Select File button is not working and will not open the window to select a local file for upload.

![Database Backup   iNextrix Technologies Pvt  Ltd ](https://user-images.githubusercontent.com/51483988/59108480-59780d00-8911-11e9-8f30-c735cc7ae767.png)

[2019-06-08 10:15] #513 closed

[2019-06-08 10:44] devangn commented on #514
@watoan Installation script is replacing host and port correctly as per the data fed while installation.

[2019-06-08 15:18] udy786 commented on #179
I installed ASTPP 3.6 on Debian. I am able to make call and its working but invoice is not getting generated. I created two test customer. For First customer selected billing Monthly and Day 1st. For second customer selected billing Daily. Assigned 1 DID in each customer with $30 monthly price. From 15 days monitoring but not a single invoice generated in any customer.

I don't see any log in astp

[2019-06-08 18:07] timur-v opened #517 "Origination Rates Import doesn't work in ASTPP 4.0"
Hello,
Tariff -> Origination Rates - > Import
A correctly formed file is not accepted:
![image](https://user-images.githubusercontent.com/51515806/59150711-fd3ae900-89f5-11e9-8e01-abcb11f71fb9.png)
For that test I took the file downloaded from ASTPP itself ("Get sample file" section on the same page in ASTPP 4.0 demo).
Here is the test file content:
![image](https://user-images.githubusercontent.c

[2019-06-08 18:12] timur-v opened #518 "Can't install addons in ASTPP 4.0"
Hello,
When I try to install addons "Support Tickets" and "Switch Monitoring" the installation fails (the same way in both cases):
![image](https://user-images.githubusercontent.com/51515806/59150794-2f007f80-89f7-11e9-9bd9-3e3d4b1d56db.png)
The addon "Account Number Range" was installed successfully.
I'm trying ASTPP 4.0 on a virtual machine.

[2019-06-08 23:10] meshtask commented on #507
I did a fresh install of ASTPP v4 today multiple times on CentOS 7 64 bit minimal  VPS. Default owner and group of recordings folder was freeswitch:daemon and permission was 0750.
I changed permission to 755 and restarted VPS. But this time i am unable to see Call Recordings on CDRs. I just see red X in Recordings column. Every time i make calls, call recordings wav files are being correctly gener

[2019-06-08 23:12] meshtask commented on #507
I did a fresh install of ASTPP v4 today multiple times on CentOS 7 64 bit minimal VPS. Default owner and group of recordings folder was freeswitch:daemon and permission was 0750.
I changed permission to 755 and restarted VPS. But this time i am unable to see Call Recordings on CDRs. I just see red X in Recordings column. Every time i make calls, call recordings wav files are being correctly genera

[2019-06-08 23:13] meshtask commented on #518
Just tested. Same thing is happening on my install. I cannot install any other plugins except "Account Number Range"

[2019-06-09 03:20] saifulmr opened #519 "V4.0 Can't use symbols anymore as Tech Prefix."
Hi,
Thanks for developing this new version. It looks very nice. I am still testing it in my lab.
Symbols not working anymore as Tech Prefix in Termination routes.

![Screenshot_12](https://user-images.githubusercontent.com/27748906/59154597-69900980-8a43-11e9-853c-a46b566b2702.jpg)

Please see the screenshot. This field used to accept symbols like hash in earlier version.
Many other softswitches h

[2019-06-09 12:29] timur-v commented on #518
I found what causes this issue. It happens due to incorrect read/write permissions in /var/www/html/astpp/ directory. Owner of those files is root user, so web-server may not write new files there. ASTPP installation script consist this: "chown -Rf www-data.www-data /var/www/html/astpp", but /var/www/html/astpp/  is actually a symbolic link and chown doesn't change symbolic links by default.  File

[2019-06-09 12:31] timur-v commented on #517
I found what causes this issue. It happens due to incorrect read/write permissions in /var/www/html/astpp/ directory. Owner of those files is root user, so web-server may not write new files there. ASTPP installation script consists this: "chown -Rf www-data.www-data /var/www/html/astpp", but /var/www/html/astpp/ is actually a symbolic link and chown doesn't change symbolic links by default. Files

[2019-06-09 12:44] timur-v opened #520 "SIP TLS doen't work in ASTPP 4.0 even after "tls = true" in SIP profile"
I tried to use TLS encryption, so I edited SIP profile "default" (Switch -> SIP Profiles -> default) and changed the value "tls" to "true". Then I restarted freeswitch service and could see that it listened for port 5061 TCP. But that port remained unavailable from outside the server, so TLS auth didn't work.
I found that it was due to firewall rules which were set up by ASTPP installation script.

[2019-06-09 12:59] timur-v opened #521 "Impossible to download sample rates file in ASTPP 4.0"
Carriers -> Termination Rates -> Import. The page consists "Get sample file" section with "Download" button in it. Clicking that button leads to empty page. Meantime the same action on ASTPP demo web site opens actual rate file.

[2019-06-09 20:59] meshtask commented on #507
Issue resolved by changing permission to 755 for the directory /var/lib/freeswitch/ instead of /var/lib/freeswitch/recordings/

[2019-06-09 20:59] #507 closed

[2019-06-09 21:17] Redbehrend commented on #509
Get the Same error turns out their HTTPS doesn't work... I seriously curious if they even tested 4.0 install before release...
this works though http://latest.astppbilling.org/fail2ban_Cent.tar.gz

[2019-06-10 09:09] watoan commented on #514
@devangn
Am I missed anything?
In the script https://raw.githubusercontent.com/iNextrix/ASTPP/v4.0/install.sh
Line 269 - it just copy the astpp-config.conf from source to ${ASTPPDIR} which is /var/lib/astpp/
Line 281 - it just copy the deb_astpp.conf from source to /etc/nginx/conf.d/
But the original file https://github.com/iNextrix/ASTPP/blob/v4.0/web_interface/nginx/deb_astpp.conf, it is set to

[2019-06-12 06:36] Hemdip commented on #521
Seems like permission issue in your setup, Please give 755 permission to your ASTPP directory and verify.

[2019-06-13 04:41] Redbehrend commented on #518
can confirm this also fixes importing rates into ASTPP

[2019-06-13 06:01] Hemdip commented on #514
@watoan

Yea you right but as @devangn mention it replace patch based on installation script and it work without any manual modification into file, I have setup in cent & debian both and not face such issue.

[2019-06-13 09:27] Hemdip commented on #520
That was the issue, it will be fixed in upcoming release

[2019-06-13 12:32] timur-v commented on #521
On virtual machine that didn't work. But when I set up ASTPP on a real server it helped and the sample file is now accessable.

[2019-06-14 05:21] smrdoshi commented on #518
Hi @timur-v

The solution which you mentioned make sense and as far as I understand, It will not create a security issue.
However, we will still investigate on it and update script accordingly.

[2019-06-14 05:22] smrdoshi commented on #517
Bug is duplicate of #518

[2019-06-14 05:22] #517 closed

[2019-06-14 05:39] Hemdip commented on #505
@baloeng @meshtask

Which OS you have used? Have you check any error log?

[2019-06-14 05:47] Hemdip commented on #503
@aparajey
We have verified and not found such issue, might be your source not updated/permission related problem on server. Closing this issue If you face again then reopen it.

[2019-06-14 05:47] #503 closed

[2019-06-14 08:18] Hemdip commented on #494
@watoan , Please upgrade V-4.0, issue has been fixed now. If you face any new issue then report again or reopen for same issue

[2019-06-14 08:18] #494 closed

[2019-06-14 09:59] meshtask commented on #505
Problem is solved by changing owner and group to apache for directory /opt/ASTPP.
https://github.com/iNextrix/ASTPP/issues/518#issuecomment-500208283

[2019-06-14 14:13] amanamonline opened #522 "Inbound problems."
Good afternoon,
I've problems with inbound [WARNING] mod_dptools.c:1809 Accountcode . Dialed number (0zzzzzzzzzz)  origination rates not found!!
i have all configured on astpp4.0 and inb_free=true
Gateway, localization, rategroups, provider, trunks acl, originator and terminator, refill, didi assigned did... all ok (outbound ok)
The same version on 3.6 seems ok.

</document>
Dialplan: sofia/defaul

[2019-06-14 18:27] John91000 opened #523 "ASTPP 3.6 failover gw rates"
The problem is when the call goes to the failover gw, the price per minute is calculated as for the first gw
example gw1 to price 1 $
gw2 price 2$
if call going to gw2, the rate will 1$ , but need 2$

How can I fix it?  may need to install real time billing?

Thanks
Kind regard John K.
CallStru Group

[2019-06-14 19:29] John91000 commented on #523
i check live call show correct, if change gw, there show gw2
But in customer cdr show gw1. if call go gw2

[2019-06-17 04:59] Hemdip commented on #523
@John91000
Your problem will solve as per `Because that's how its designed. The gateway failover configuration under trunk is for one provider.
If you want failover through different provider's gateway, select multiple trunks under rate group.`

Furthermore I would request you to switch in V-4.0, It have lots of new features and enhancement [https://www.astppbilling.org/](url)

[2019-06-17 04:59] #523 closed

[2019-06-17 08:08] Hemdip commented on #505
@meshtask Noted

As your issue has been fixed "#518 (comment)" so closing this issue

[2019-06-17 08:08] #505 closed

[2019-06-17 08:15] Hemdip commented on #321
@tridcatij @slango-im ASTPP 4.0 is released now and it have this feature as you suggested previously.
Closing this suggestion as that feature is available in V-4.0

[2019-06-17 08:15] #321 closed

[2019-06-17 10:52] Hemdip commented on #396
@pscomgr The original issue which you have reported has been fixed, So based on that we closing this issue.

For

1.add concurrent channels on subscription as an option?
2. on signup could you add rate group as an option to the user?

You can report new suggestion as it diverting from original issue.

[2019-06-17 10:52] #396 closed

[2019-06-17 10:56] Hemdip commented on #399
@slango-im that feature is available in V-4.0 you can simply duplicate rategroup and it will copy all origination rates also. You can update version and use that feature

[2019-06-17 10:56] #399 closed

[2019-06-17 12:54] Hemdip commented on #489
@AlexHeylin Please verify on V-4.0 it has been fixed, In case of any issue you may reopen or report new issue

[2019-06-17 12:54] #489 closed

[2019-06-17 13:33] Hemdip commented on #493
@spchester Issue has been fixed in V-4.0 as per my previous comment, You can verify by updating your ASTPP version

[2019-06-17 13:33] #493 closed

[2019-06-17 13:49] John91000 commented on #523
I did but anyway when call go to next gw failover, in cdrs show gw 1. but  call was in gw2. so rate same, but i want if it go next trunk, so rate too change.

[2019-06-17 22:06] meshtask opened #524 "Switch Monitoring Add-On v4.0 Registered Devices Not Showing"
Softphone registers successfully every time on any configured SIP Port. But Registered devices
are shown successfully only for SIP Profile name (default) in ASTPP v4.0. Tested on multiple CentOS 7 VPS.

[2019-06-19 01:40] Redbehrend commented on #522
Have the same problem I found two things
First it always uses rateid 1 which means it'll only use the first rate in the tables.

Second the search query doesn't pull ^+ right like there are illegal characters so if you use inbound calls with + they fail.

This was my experience installing it on debian and cent7 I stopped there because I didn't feel like fixing it and went back to v3.6 and just con

[2019-06-19 02:13] Redbehrend commented on #521
It might have been permissions they updated the install script to apply them correctly

[2019-06-19 06:28] Hemdip commented on #521
@timur-v Great!. As it working for you now so based on that we closing this ticket

[2019-06-19 06:28] #521 closed

[2019-06-19 06:31] amanamonline commented on #522
I solved the problem. Configuration > Settings > calls > general > Rate check for DID

[2019-06-19 06:31] #522 closed

[2019-06-19 06:33] Hemdip commented on #524
@meshtask , Have you set event socket password in freeswitch? If yes then you have to set same password in ASTPP portal (Freeswitch profile). It should be display resisted devices there if your configuration proper.

[2019-06-19 07:36] meshtask commented on #524
Event Socket password is set correctly 100%. During test i can see live calls in ASTPP,this verifies that event socket password is setup correctly. its just the Monitoring Add-On. it only shows registered devices in ASTPP if i use SIP Profile name "default". If i change it lets say to "ABCD" and reload switch, it no longer shows registered devices but device registeres successfully. By changing SI

[2019-06-19 07:42] watoan commented on #510
Any update on this please?

[2019-06-20 06:51] miorar opened #525 "Error when trying to install International Credits"
I received this error when trying to install International Credits Addon:

Copying file to web directories...
Copy process completed for web directories!!

Copying file for freeswitch call scripts...
Failed!! Unable to copy files to /usr/share/freeswitch/scripts/astpp/lib/ folder!!!

How to overcome this issue? Please help.

[2019-06-20 10:37] Hemdip commented on #508
Hello @plettonline ,

Yes we have rectify issue, it will be fix soon. [0003478]

[2019-06-20 10:38] Hemdip commented on #121
@QQ110902 Partially feature has been develop ".Online listening the recorded files." you can verify in V-4.0

Remain thing will be develop in V-5.0

[2019-06-20 11:06] plettonline commented on #508
Thx Hemdip... I'm glad that you have confirmed the bug :-) ....

[2019-06-20 11:15] Hemdip commented on #246
It's good feature, will develop in next version

[2019-06-20 11:26] Hemdip commented on #354
@leandrowcampos We will implement addon in Next V-5.0 version

[2019-06-20 11:26] #354 closed

[2019-06-20 11:33] Hemdip commented on #463
@marcozink , We have implemented Roles & Permission module for Admin/Subadmin & Reseller in V-4.0
You can update your version and verify. We also going to implement for Customer in V-5.0

[2019-06-20 11:33] #463 closed

[2019-06-20 11:39] Hemdip commented on #432
@AlexHeylin It has been fixed in V-4.0, you can update version and verify.

[2019-06-20 11:39] #432 closed

[2019-06-20 11:46] Hemdip commented on #366
@countrdd , Thanks for your suggestion, We will implement it in our next version.

[2019-06-20 12:10] Hemdip commented on #17
@dev-astpp , It has been fixed in V-4.0, We have implemented fraud detection addon to achieve this.

[2019-06-20 12:10] #17 closed

[2019-06-20 12:12] Hemdip commented on #404
@suneyo21 Thanks for suggestion, we will implement this feature in our next version

[2019-06-20 12:25] Hemdip commented on #519
@saifulmr Thanks for your suggestion, we will implement this in upcoming release-0003484

[2019-06-20 12:43] Hemdip commented on #226
@drenda It will be fix in next release-0003482

[2019-06-20 12:44] Hemdip commented on #145
@alexzh16 It will be fixed in next release

[2019-06-20 12:46] Hemdip commented on #525
@miorar Its seems permission issue, Can you please give your 755 permission to /opt/ASTPP

[2019-06-20 13:18] Hemdip commented on #524
@meshtask ,

Issue has been rectify, It showing that error when only 1 sip device is register. Meanwhile you can register more then 1 sip device and check, It will we fixed in next release

[2019-06-20 16:12] miorar commented on #525
Dear Sir,
Thanks for the fast reply. Seem both of opt and ASTPP folders are in 755 permission. But the error is still there when I try to install the International Credits addon.
Copying file to web directories...
Copy process completed for web directories!!

Copying file for freeswitch call scripts...
Failed!! Unable to copy files to /usr/share/freeswitch/scripts/astpp/lib/ folder!!!

Back
Hope y

[2019-06-20 20:17] astvoip opened #526 "Priduct/Package"
Hi.
I installed ASTPP4.0.
In the products I have created a 300 min free package with several destinations.
The 300 min free package does not work. The system works with the correct payment for destinations that have 300 min free.
Can you please help me?

[2019-06-20 20:23] astvoip commented on #526
The system works all the time with the payment, It does not bring the package with free minutes installed in the client account

[2019-06-23 16:12] devangn commented on #518
Modified permissions in installation script, Commit: 10fb4b69a72f56a7d40e0ed682cca9292a618016
It will work now.

[2019-06-24 06:46] Hemdip commented on #526
Please confirm that you have selected prefix/destination code in package and share result. Because it seems just configuration issue

[2019-06-24 09:37] astvoip commented on #526
![Screenshot from 2019-06-24 11-33-04](https://user-images.githubusercontent.com/52051496/60008258-112c4f00-9674-11e9-96a8-78a1924e336f.png)
![Screenshot from 2019-06-24 11-33-14](https://user-images.githubusercontent.com/52051496/60008277-1be6e400-9674-11e9-94ca-ee85f7b8a958.png)
Here you have the 300 min free configuration for several destinations.
The package does not work.

[2019-06-24 10:28] astvoip commented on #526
![Screenshot from 2019-06-24 12-27-54](https://user-images.githubusercontent.com/52051496/60012135-851e2580-967b-11e9-9de4-b452b8b76308.png)

Here is the call with this destination, always with payment.

[2019-06-24 18:09] astvoip commented on #526
![Screenshot from 2019-06-24 20-07-41](https://user-images.githubusercontent.com/52051496/60041473-ce8e6500-96bb-11e9-806a-b22f3113358c.png)
Fro un ather configuration. Here you have the 300 min free configuration for several destinations.
The package does not work.

[2019-06-24 18:11] astvoip commented on #526
I've tried all the possibilities.
Result? Same

[2019-06-26 10:39] Hemdip commented on #526
@astvoip As per your screenshot it seems like your have set different prefix (code) in package and you dial different prefix number and due to that it going as Standard call.

[2019-06-26 18:27] astvoip commented on #526
This is not true. Destinations are with different prefixes. Have you tried this package? Can you share your configuration? I've tried all the possibilities she does not work, I'm sure of that.

[2019-06-27 04:25] Hemdip commented on #474
@rgazetta

We would suggest you to upgrade with v4.0 as it more stable version and fixed so many issues.

Regarding your concern in v3.6 there is one variable INB_Free that you have to true/false so it will goes to check balance for DID

[2019-06-27 10:19] simoMortada1 commented on #512
![Sans titre](https://user-images.githubusercontent.com/52280042/60258260-50e97580-98c4-11e9-846c-56a8ce848253.png)

the Same problem, can not modify the Edit Reseller as the password disappears
Thanks for finding the problem.

[2019-06-27 10:23] rgazetta commented on #474
Thanks for the response, but for the moment the upgrade is not an option.

The variable INB_Free, should be configures where and how?

[2019-06-27 11:48] Hemdip commented on #474
You can do it from astpp.lua

Also i would like to share that similar kind of [issue](https://github.com/iNextrix/ASTPP/issues/476) already open

[2019-06-27 12:34] rgazetta commented on #474
/var/lib/astpp/astpp.lua
I set INB_FREE="false"
Nor work, call continue in balance 0

[2019-06-28 09:59] TeamMorris opened #529 "New SIP profile doesn't give correct rtp-ip"

[2019-06-28 10:23] TeamMorris commented on #529
I have fixed this in the code and created a new branch locally. When I try to push my new branch to the repository I am told I am not authorised. Are you able to allow me to have new branch and then pull request access to contribute bug fixes?
I checked https://astpp.readthedocs.io/en/v4.0/Introduction/how_to_contribute.html but this doesn't say how to contribute bug fixes.

Thanks,
David

[2019-07-01 12:11] Hemdip commented on #474
@rgazetta Yes it will go to check Origination rates and apply accordingly. In your condition please check you have origination rate with 1.00/per minute.

[2019-07-02 12:26] TeamMorris commented on #529
I see now that I need to fork the repository, make the fixes in the new repository then doa  pull request from there.

[2019-07-04 00:24] timur-v opened #530 "Inbound number doesn't work in ASTPP 4.0"
I created a DID and assigned it to a customer. But ASTPP rejects inbound call with a reason "origination rates not found". But what origination rates does it want to find if this is an inbound call and it is free???

Here is the log:
2019-07-03 20:13:09.209578 [INFO] switch_cpp.cpp:1443 [ASTPP] call_direction:::::: inbound
2019-07-03 20:13:09.209578 [INFO] switch_cpp.cpp:1443 [ASTPP] =============

[2019-07-04 10:52] astvoip commented on #526
Any response???

[2019-07-05 18:40] smrdoshi commented on #529
Hi David,

Sorry for the late reply.
Yes thats the right way.

If you need any help in that then please let us know.

Sent from Google Pixel 2

On Tue, Jul 2, 2019, 5:56 PM David Morris <notifications@github.com> wrote:

[2019-07-08 06:39] Hemdip commented on #530
@timur-v , There would be multiple possibility. I would suggest you first check
1. Rate check for DID = Yes or No that you can get from Settings > Configuration > Calls and set opposite or try to call.

2. If above also not work then it might be you have not proper rate configuration.

[2019-07-08 06:42] Hemdip commented on #525
@miorar, I would suggest you try once with 777 permission

Apart from that have you checked in our demo portal? If not then please have looks and share your feedback

http://latest.astppbilling.org/

[2019-07-08 06:50] Hemdip commented on #512
@simoMortada1 , It seems your setup is not correct because I have also verified in our demo portal and it working fine. You can confirm here http://latest.astppbilling.org/

For reseller password issue will you please provide steps? Same issue is reported by one other member but we are unable to reproduce here.

[2019-07-08 07:16] miorar commented on #525
Dear Sir,
We have bought ASTPP Essential package for our company. Everything is ok now. We are in the process of doing training for ASTPP.

Thank you.

Best Regards,

 
Mior Ahmad RidzuanChief Technical OfficerNeu Node Sdn. Bhd. (1153535-P)No. 14-2, Jalan Keluli 7/109, Pusat Perindustrian Seksyen 7,
40000 Shah Alam,Selangor Darul Ehsan,MALAYSIA.
Mobile : (6013) 243 2013

Tel : (603) 3358 4555
 Fax

[2019-07-08 07:54] hardikinextrix commented on #526
@astvoip

- Package should create with correct prefixes and information.
- Package should be added to customer profile.
- Prefix should be match with origination rates and prefixes.
In your case we found that the number you are dialing is not added under the package destinations. that can be the reason package is not applying.
Also confirm package should be added correctly on customer profile. rea

[2019-07-08 15:24] timur-v commented on #530
I just tried to change that setting you  mentioned "Rate check for DID ". It doesn't work either.
Now it switches from inbound processing to outbound for some unknown reasons and then ends up with error.
Here is the log:
2019-07-08 11:08:56.209538 [INFO] switch_cpp.cpp:1443 [ASTPP] call_direction:::::: inbound
2019-07-08 11:08:56.209538 [INFO] switch_cpp.cpp:1443 [ASTPP] =============== Rates Info

[2019-07-08 17:59] astvoip commented on #526
Thank you.
In the manner that you describe the packages with several destinations function correctly.
When the number is called 35569 and does not translate the package with that destination it works.
The problem is when the number is translated, for example:
When the destination is called as 0035569 and the system translates as 35569, the package with these destinations does not work.
It passes o

[2019-07-09 14:18] hardikinextrix commented on #526
Generally customer side translation are affect the rates so it will be affected to package also but the gateway side translation will not affect it.

[2019-07-09 19:08] astvoip commented on #526
Mr. Hardik.
Thank you for your suggestion. We know we are talking in skype.
The problem is when the package affects the case the customer's call is translated. The customer's call must be translated because he can call in some form, for example: 069, 0035569,69, + 35569 all of these translates to standard 35569 always. We do not educate the client to make calls only in a way. In this case, the pac

[2019-07-10 04:38] Hemdip commented on #530
@timur-v According to your last error log it seems like something goes wrong in configuration or during installation process. I would recommend either reinstall or wait few days will going to update resolve issues

[2019-07-10 04:42] Hemdip commented on #525
@miorar That's great. Hope you enjoy to explore system.

Closing this issue as your concern is solved.

[2019-07-10 04:42] #525 closed

[2019-07-10 17:28] timur-v commented on #530
OK. Will you let me know when updated release is ready to download?

[2019-07-11 04:19] Hemdip commented on #530
It will be soon, i'll update you once it ready.

[2019-07-12 13:31] simoMortada1 commented on #512
hy , I installed it several times in a private host ,
Quick installation will install ASTPP 4.0 in scratch system only. /* ./install.sh */
he is working well , The Resellers are bound to the same problems for no change and the password is hidden ,
thank you for your reply .

[2019-07-12 22:30] juancarlosg6 opened #532 "After install not login"
Hi, im trying the version 4.0 after the script finish, dont login is allowed, i try with debian 9 and Centos and the same problem, i not found documentation or issue related, is a fresh install from scratch, are some issue about this?, thank you.

[2019-07-16 15:22] #532 closed

[2019-07-16 15:22] juancarlosg6 commented on #532
After install multiple times, is working.

[2019-07-17 10:29] aparajey opened #533 "Getting error in sending email"
i am getting database error while sending email for OTP, please check the screenshot. i tried and reinstalled several times but same error. any suggestion?

![Screenshot 2019-07-17 at 3 53 12 PM](https://user-images.githubusercontent.com/23430485/61368604-d650bc00-a8ab-11e9-9d07-c1dfe6e7c1a7.png)

[2019-07-19 12:01] Hemdip commented on #530
@timur-v

New version is released now Please update and verify your concern.
https://astpp.readthedocs.io/en/v4.0.1/Installation/upgrade.html

[2019-07-19 12:09] Hemdip commented on #524
@meshtask This issue has been fixed, please upgrade your source and check

https://astpp.readthedocs.io/en/v4.0.1/Installation/quick_installation.html

[2019-07-19 12:09] #524 closed

[2019-07-20 21:53] jormerod opened #534 "Free Minute Packages - Add pattern adds all !"
When trying to search and select a code / destination to add into the free minute package, the search result table is poor and when finally shows the correct code, then adds all codes from the tariff and not the ones selected.

[2019-07-20 22:31] jormerod opened #535 "v4.0.1 - Paypal always in USD but GBP selected"
Hi,

I have setup 4.0.1 with all currencies in GBP but when a customer tries to purchase, paypal shows as USD.

[2019-07-30 10:15] hardikinextrix commented on #508
New version is released now Please update and verify your concern.
https://astpp.readthedocs.io/en/v4.0.1/Installation/upgrade.html

[2019-07-31 01:16] mabalachix commented on #530
had the same issue, however resolved by adding ip address on the sip profile of the customer.
Issue now is that the inbound calls could not be routed over did-local for sip extension of the customer, works well with IP Auth. Is there a way to achieve this?

[2019-07-31 07:08] Hemdip commented on #518
@timur-v Issue has beed resolve, please take updated source and verify.

[2019-07-31 07:08] #518 closed

[2019-07-31 07:09] Hemdip commented on #511
@plettonline Spell issue has been fixed, please verify in updated release (source)

[2019-07-31 07:09] #511 closed

[2019-07-31 07:13] Hemdip commented on #508
@plettonline Above reported issue has been fixed, Please review with latest source and share your feedback.

[2019-07-31 22:54] aparajey opened #536 "Homer integration not workin"
Hello,

i have set Homer with ASTPP, and tried all possible configuration but Homer is not receiving any data from ASTPP on port 9060. Any one have any idea how to make it work.

Thank You

[2019-08-01 01:40] smrdoshi commented on #536
Did you check logs of Homer and Kamailio if they are receiving any events?

Thanks,

Samir Doshi

iNextrix Technologies Pvt. Ltd.

https://www.inextrix.com

https://www.astppbilling.org

Disclaimer:

The information contained in this communication is confidential and may be
legally privileged. It is intended solely for the use of the individual or
entity to whom it is addressed and others authoriz

[2019-08-01 09:20] aparajey commented on #536
in homer ngrep i get nothing from astpp. i have attached homer ngrep screenshot.
![Screenshot 2019-08-01 at 2 50 06 PM](https://user-images.githubusercontent.com/23430485/62281638-be606700-b46b-11e9-8f45-58bed4bc4c66.png)

[2019-08-01 13:54] Hemdip commented on #508
@plettonline  Closing this issue if you face any other issue then you can report new.
Thanks!

[2019-08-01 13:54] #508 closed

[2019-08-06 13:09] pscomgr opened #537 "Resend mail that haven't been send"
i am getting this error when i am trying to resend unsend mail after a clean install 4.0.1

A Database Error Occurred
Error Number: 1146

Table 'astpp.dialer_device_info' doesn't exist

SELECT * FROM (`dialer_device_info`) WHERE `username` IS NULL AND `callkit_token` IS NULL

Filename: /opt/ASTPP/web_interface/astpp/libraries/astpp/email_lib.php

Line Number: 403

[2019-08-06 16:54] ciprianonunes opened #538 "New 4.0.1 install leave an error on Global Settings"
Hi, I make a new install... when I try to set a Global value, any value, in global settings, leave to a error page, like that:

https://systems/configuration/global

The IP of my server are not on the URL, when I press the SAVE button, leave to this URL, without the IP ADDRESS.

Thanks in advance!

[2019-08-08 07:41] pscomgr opened #539 "Signup - terms of use"
Hi,

is it possible to make a choice for users to accept the terms of use upon signup?
it can be a link or a window that has all the terms in.

Kind regards

[2019-08-08 07:50] #537 closed

[2019-08-08 07:51] pscomgr commented on #533
Hi ,
same here , i tried to send a mail and i got the same error.

[2019-08-09 12:10] devangn commented on #539
@pscomgr Yes its possible but we haven't got much requests like this so we haven't consider it yet, but yes.

[2019-08-10 01:36] willinghamg opened #542 "SMTP Email not working"
During Signup, or Create Customer the send email function is not working.  The email is created, but not sent.  If I click on resend email, then the email is sent.

[2019-08-12 17:35] HorselessName opened #543 "Number Translation on Switch - Gateway menu"
I have two gateways from two different providers, both using Tech Prefix for auth.
If i use the menu "Carriers - Trunk" and set the second one as "Failover GW #2" it'll not work because Number Translation is set for the first try only, and the Tech Prefix for the second try is different from the first one...

The only option i could think of is "Dialplan Variable" but i added 55/TechPrefix55 like

[2019-08-13 16:25] francisjonee commented on #542
i still have the same issue,

having this error

A Database Error Occurred
Error Number: 1146

Table 'astpp.dialer_device_info' doesn't exist

SELECT * FROM (`dialer_device_info`) WHERE `username` IS NULL AND `callkit_token` IS NULL

Filename: /opt/ASTPP/web_interface/astpp/libraries/astpp/email_lib.php

Line Number: 403

[2019-08-13 16:25] francisjonee commented on #533
also having the same issue

A Database Error Occurred
Error Number: 1146

Table 'astpp.dialer_device_info' doesn't exist

SELECT * FROM (`dialer_device_info`) WHERE `username` IS NULL AND `callkit_token` IS NULL

Filename: /opt/ASTPP/web_interface/astpp/libraries/astpp/email_lib.php

Line Number: 403

[2019-08-14 06:49] watoan opened #544 "After upgrade to 4.0.1, page showing 502 Bad Gateway"
Before upgrade everything was fine.

Followed the guide in https://github.com/iNextrix/ASTPP/blob/v4.0.1/doc/Installation/upgrade.rst

Then open the main page https://1.2.3.4/ it is showing 502 Bad Gateway

in the log /var/log/nginx/astpp_error.log
`2019/08/14 06:46:12 [error] 18287#18287: *10 recv() failed (104: Connection reset by peer) while reading response header from upstream, client: 7.8.9.

[2019-08-17 04:37] vaheed commented on #202
version 4 released, but I don't find any additional APIs do you have any news about it?

[2019-08-19 14:49] Redbehrend opened #545 "Fresh Install ASTPP will randomly bind ipv6 over ipv4 on restart"
So I found out last night with a fresh install of ASTPP 4.0.1 that freeswitch will randomly bind to ipv6 over ipv4 which stops everything from working. If you keep restarting it will randomly select ipv4 on next reboot or a couple in.
I know this is how ASTPP is configured with freeswitch as we have 5 other freeswitch pbx / billing brands on the exact same VM which don't have this issue.

Nothing

[2019-08-19 14:54] Redbehrend opened #546 "Fresh ASTPP install and get emails of DID release"
Fresh ASTPP install a couple dids send us this email every night
------------------------------------------------
Dear (Name Here),

The product XXXXXXXX is released from XXXXXXXXXXXX.

Product Information:
Termination Date: 0000-00-00 00:00:00

You can always let us know if you have any question at (Email Here). We will be happy to help!

Thanks,
(Company Here)
-----------------------------------

[2019-08-22 17:20] willinghamg commented on #542
I found the issue with emails not being sent.

The cron jobs use wget to send broadcast emails every one minute.  The issue is the server installs a self-signed certificate which wget (on centos 7)  does not like.  Change the cron settings to:

wget --no-check-certificate -O - -q {BASE_URL}broadcastemail/broadcast_email/

The other option is to install a real digital certificate.

[2019-08-26 06:01] smrdoshi commented on #543
Hi @HorselessName

In your case, you will require to setup 2 trunks and under each trunk set 1 gateway and in rate group select both trunks.

For number translation, you can use prepend and strip field in termination rates or use localization concept and select it in provider.

That will resolve your issue.

[2019-08-28 07:39] watoan commented on #510
The problem still exists in 4.0.1 with a fresh installation, any update please?

[2019-08-28 09:27] bunscc commented on #544
Same problem here ... any solutions ?

[2019-08-28 09:31] smrdoshi commented on #544
Hi Guys,

Please change ENVIRONMENT from production to development in index.php file of web directory and run the url.
You should get logs in nginx error log. Please capture them and share.
https://github.com/iNextrix/ASTPP/blob/v4.0.1/web_interface/astpp/index.php#L22

[2019-08-28 09:34] smrdoshi commented on #545
Hi @Redbehrend

That is strange. Please provide the following information:

1. You sip profile settings
2. ifconfig output
3. freeswitch's sofia status output.

[2019-09-01 19:20] tcreek opened #548 "Easy Install script for v4 on Debian 9 OpenVZ complete failure"
While, I have tested this on a virtual box with Debian 9, and it installs fine, on OpenVZ is fails badly.

Many errors, and warnings can be seen while the script is running.

Here is the final result when visiting the mail page:

![Screenshot from 2019-09-01 14-17-57](https://user-images.githubusercontent.com/4149717/64081195-68c5e700-ccc3-11e9-8891-0820a49e0dec.png)

I am also attaching a capture

[2019-09-02 06:23] watoan commented on #510
Any one can help on this please?
Fixer key already entered in Global Settings, but seems ASTPP not sending the request to Fixer to get the latest currencies rate.

[2019-09-03 23:12] danj1980 opened #549 "Make Customer Email an Optional Field"
We have resellers whose customers do not wish to provide their email addresses as they don't consider it to be a requirement for a calling solution and do not wish to risk receiving spam.

In addition, the customer's do not wish to be able to log in online or wish to use a username instead of an email address.

Is it possible to change the email field to optional, or convert it to an "Email or Use

[2019-09-04 15:33] danj1980 opened #550 "check_call_barring() does not exist"
In version 4.0.1, I am getting

2019-09-04 16:12:55.846974 [ERR] mod_lua.cpp:203 /usr/share/freeswitch/scripts/astpp/lib/astpp.callingcard.functions.lua:567: attempt to call global 'check_call_barring' (a nil value)
stack traceback:
        /usr/share/freeswitch/scripts/astpp/lib/astpp.callingcard.functions.lua:567: in function 'process_destination'
        /usr/share/freeswitch/scripts/astpp-call

[2019-09-04 16:27] danj1980 commented on #550
The same issue with get_pricelist_by_routing_prefix() and many other functions listed in astpp.callingcard.functions.lua

Very disappointing for a released version.

[2019-09-16 14:18] HorselessName commented on #543
Right. So i have to add the Tech Prefix on each destination on the Termination Rates?
Lets say if i have 10000 prefixes, i need to edit them all and add the tech prefix for each one ?

I'll try that and add a edit saying if it works ...

[2019-09-16 14:26] HorselessName commented on #543
Are there any examples on how to use prepend and strip field?

[2019-09-16 14:27] HorselessName commented on #543
Are there any examples on how to use prepend and strip field?
For example, if i have the prefix 55419 and want to convert to 353555419 ?

[2019-09-16 14:31] HorselessName commented on #543
Right...
I'll test it and edit this comment here saying if it works.

[2019-09-16 14:41] HorselessName commented on #543
Hello... @smrdoshi
Unfortunately the prepend field will not help in this scenario.
For example, i need to call to 5541991919191 and the first try goes to one provider...
The failover goes to another provider...

Even if i insert the tech prefix for the first provider, let's say 91915541991919191, if the call fails and goes to the second provider on the failover, the number that'll go to that provi

[2019-09-16 16:37] MrSupaMike commented on #543
Hello,

@smrdoshi is right, I've been using on version v3.6 without a problem. Setting up number translation at each trunk and setting multiple trunks in rate groups does the fail-over with correct prefix for each provider. I don't know if it's the same on the latest version.

[2019-09-17 12:37] HorselessName commented on #543
@MrSupaMike It is'nt doing the fail-over here...
I configured three trunks with specific number translation on each ( Each trunk is configured to do one try only on the provider gateway tho, since each provider gave me one ip only ), and selected them all in the same rate group, but the call does'nt pass to the next selected trunk when the call fails...

If i remove the number translation and set

[2019-09-17 12:38] HorselessName commented on #543
![image](https://user-images.githubusercontent.com/20173635/65042255-d95d3c80-d92e-11e9-80b7-ce94769a1f9e.png)

[2019-09-17 12:39] HorselessName commented on #543
First trunk:
![image](https://user-images.githubusercontent.com/20173635/65042295-f09c2a00-d92e-11e9-8a71-e0f57349339b.png)
Second trunk:
![image](https://user-images.githubusercontent.com/20173635/65042306-f5f97480-d92e-11e9-847c-c5bc1f891cb8.png)
Rate group with both selected:
![image](https://user-images.githubusercontent.com/20173635/65042316-fa259200-d92e-11e9-8c96-33409157be85.png)

[2019-09-17 14:03] MrSupaMike commented on #543
Hello @HorselessName ,

As I said, I only tried this on version 3.6 and it's working correctly. I assume that hasn't changed in v+4.
One thing I suggest doing is to check on your freeswitch logs, in the linux console "fs_cli", you can easily check if it's working as the logs clearly state if translation is happening on each call.
Also, I noticed something that could be make a difference. The numbe

[2019-09-18 13:39] watoan opened #554 "Duplicate header row during rate import with field map"
My csv file: https://imgur.com/GHFC6tL

After upload via web UI, in the field mapping selection page, the bottom part (table) shows duplicated header

Screenshot: https://imgur.com/FtpWvWU

[2019-09-19 06:06] Redbehrend commented on #545
Sorry didn't see the alert on my github here it's all defaults except for the gateway
What happens is ASTPP says everything is running fine but only responds to IPV6 after restarting it a couple times IPV4 randomly gets selected.

SIP Profiles are default by ASTPP
The crucial part of it is SIP IP = $${local_ip_v4} and PORT = 5060

ifconfig output
ens3: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  m

[2019-09-19 20:09] HorselessName commented on #543
Ok. I tried selecting the two trunks and i also tried using the way you said, using "" and , to separate the prefixes...

I found the problem. When the ASTPP 503 Service Unavailable, the Failover works...
But if the termination sends 603 Declined, the failover does'nt happen.
With 603 Declined the failover does'nt work...
When a termination returns to the ASTPP 603, the system does a hangup...

Is

[2019-09-19 20:17] HorselessName commented on #543
Below a image of my monitoring (Ignore the REJECTED message, i just configured a test on my Asterisk to check what codes the ASTPP needs to receive in order to make the failover):

![image](https://user-images.githubusercontent.com/20173635/65277861-37da1480-db01-11e9-836b-22133def1065.png)

[2019-09-23 06:44] watoan opened #555 "Low balance default email template missing # at the content body"
Low balance default email template:
[code]

COMPANY_NAME missing a dash # at the front

[2019-09-25 09:14] kjboddy opened #556 "Typo in English language translation"
Module Name
Inovices Older Than Days

English
Inovices Older Than Days

Both should be updated to
Invoices Older Than Days

Thanks

[2019-09-27 15:18] Redbehrend commented on #545
Checking this out more it's deff something with your guys config or maybe your version of freeswitch you are using has a bug.
So with my other ipv4/ipv6 freeswitches the $${local_ip_v4} in the profile works fine.
With ASTPP that profile will use a ipv6 if it's available which causes profiles to not connect internally even though they show connected in ASTPP maybe because it's using it for LAN and